// 예약 확인 페이지
.checkRes{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 183px;
    .checkRes_head{
        .checkRes_head_inner{
            // width: 1075px;
            width: 100%;
            margin: 0 auto;
            padding: 20px;
            border-bottom: 11px solid #23402A;
            display: flex; 
            justify-content: space-between; align-items: flex-end;
            a{
                color: #000;
                font-size: 16px;
                font-weight: 400;
                line-height: 80px;
            }
            h2{
                color: #000;
                font-size: 25px;
                font-weight: 700;
                line-height: 80px;
            }
            a img{
                width: 84px;
            }
        }
    }
    .checkRes_body{
        // width: 634px; 
        width: 60%; 
        // height: 556px;
        margin: 70px auto 0 auto;

        border: 1px solid #23402A;
        border-top: 3px solid #23402A;
        .checkRes_body_inner{
            width: 75%;
            margin: 0 auto;
            display: flex; flex-direction: column;
            align-items: center;
            figure img{
                width: 63px;
                transform: translateY(47%);
            }
            .checkRes_body_top{
                width: 100%; height: 271px;
                border-radius: 8px;
                border: 1px solid #23402A;
                padding: 50px 0;
                div{
                    margin: 0 36px;
                    color: #23402A;
                    font-size: 11px;
                    font-weight: 400;
                    p, b, h3{  
                        margin: 3px 0;
                        line-height: normal;
                        span{}
                    }
                }
                .top_personal{ margin-bottom: 15px; }
                .top_res_info{
                    border-top: 1px solid #23402A;
                    border-bottom: 1px solid #23402A;
                    padding: 15px 0;
                    b{
                        
                        font-weight: 600;
                        span{font-weight: 500;}
                    }
                }
                .top_totalfee{
                    margin-top: 15px;
                    h3{
                        font-size: 16px;
                        font-weight: 700;
                        text-align: right;
                    }
                }
            }
            .checkRes_body_bot{
                width: 100%; height: 59px;
                margin-top: 45px;

                background: #23402A;
                border: 1px solid #23402A;
                border-radius: 8px;
                margin-bottom: 50px;
                display: flex; justify-content: center; align-items: center;
                button{
                    color: #FFF;
                    font-size: 16px;
                    font-weight: 700;
                    background-color: transparent;
                    border-color: transparent;
                    cursor: pointer;
                }
            }
        }
    }
}