//로그인 페이지-반응형

/*============모바일~480============================*/
@media (max-width: 480px) {
    .login_backg{
        .login{
            width: 400px;
            .login_body{
                flex-direction: column;
                .login_left{
                    width: 100%;
                    align-items: center;
                }
                .login_right{
                    margin-top: 50px;
                    width: 100%;
                    align-items: center;
                }
            }
        }
    }
}//end mobile480

/*=================태블릿 481px ~ 1439px  ===========*/
@media (min-width: 481px) and (max-width: 1439px){
    .login_backg{
        .login{
            width: 600px;
            .login_body{
                flex-direction: column;
                .login_left{
                    width: 100%;
                    align-items: center;
                    .login_pageMove{
                        width: 100%;
                        display: flex; flex-direction: column;
                        .checkbox{margin-left: 10px;}
                        .btnLogin{
                            align-items: flex-end;
                            button{width: 500px;}
                        }
                    }
                    .idpw{
                        align-items: flex-end;
                        width: 100%;
                        input{
                            width: 500px;
                        }
                    }
                }
                .login_right{
                    margin-top: 50px;
                    width: 100%;
                    align-items: flex-end;
                    ul li{
                        width: 500px;
                    }
                }
            }
        }
    }
}//end tablet1439
