//회원가입 페이지-반응형

/*============모바일~480============================*/
@media (max-width: 480px) {
    .signUp_backg{
        .signUp{
            width: 400px;
            .signUp_body{
                flex-direction: column;
                .signUp_left{
                    width: 100%;
                    align-items: center;
                    .signUp_email{padding: 50px;}
                }
                .signUp_right{
                    margin-top: 50px;
                    width: 100%;
                    align-items: center;
                }
            }
        }
    }
}//end mobile480

/*=================태블릿 481px ~ 1439px  ===========*/
@media (min-width: 481px) and (max-width: 1439px){
    .signUp_backg{
        .signUp{
            width: 600px;
            .signUp_body{
                flex-direction: column;
                .signUp_left{
                    width: 100%;
                    align-items: center;
                    .signUp_email{padding: 50px;}
                }
                .signUp_right{
                    margin-top: 50px;
                    width: 100%;
                    align-items: flex-end;
                    ul li{
                        width: 500px;
                    }
                }
            }
        }
    }
}//end tablet1439