@import "reset";

$color-main:#0E1F40;
$color-sub:#86B5DF;
$color-bg:#F6F6F6;

@mixin bg_ball(){
  background-image: url('../public/img/bg_veryBig.png');
  background-position: center;
}
@mixin flex($x:space-between, $y:center){
  display: flex;
  justify-content: $x;
  align-items: $y;
  text-align: center;
  @content;
}
@mixin fontSuit(){
  font-family: 'SUIT';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@mixin fontPx(){
  font-family: 'DungGeunMo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
// html,body,main, #root{height: 100%;}
html{@include bg_ball();}
//=========↓↓↓======홈 메인화면===========↓↓↓=====================
.homepage{
  background-image: url('../public/img/bg_veryBigBlue.png');
  background-position: center;
  background-size: cotain;
  height: 100vh;
  background-color: $color-sub;
  @include flex(center,center){flex-direction: column};
  .logo{
    width: 394px; height: 189px;
    img{width: 100%;height: 100%;}
  }
  strong{
    @include fontPx();
    font-size: 36px;
    display: inline-flex;
    text-align: center;
    margin: 40px auto;
  }
  .forNav{
    .navBtn{
      border-radius: 9px;
      background-color: $color-main;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      padding: 10px 20px;
      margin: 15px auto;
      @include flex();
      figure{
        width: 32px; height: 32px;
        @include flex(center,center){text-align: center};
      }
      a{
        color: #FFF;
        font-size: 30px;
        @include fontPx();
      }
    }
  }
}
//=========↓↓↓======퀴즈==========↓↓↓=======퀴즈==============
.quiz{
  @include bg_ball();
  height: 100vh;
  background-color: $color-bg;
  @include flex(flex-start,flex-start){flex-direction: column};
  h1{
    @include fontPx();
    color: #FFF;
    text-align: center;
    font-size: 30px;

    border-radius: 9px;
    background-color: $color-main;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px 20px;
    margin: 15px;
    @include flex();
  }
  .targetHp{
    width: 350px; height: 85px;
    margin-left: 15px;
    border: 5px solid black;
    border-top: none; border-right: none;
    border-left-width: 10px;
    border-bottom-left-radius: 40px;
    position: relative;
    .innerbar{
      display: flex;
      position: absolute; left: 5%; top: 15%;
      .hp{
        border: 5px solid black; background-color: black;
        color: #FACC15;
        font-family: 'DungGeunMo';
        font-size: 30px;
      }
      .hpTank{
        border: 5px solid black;
        border-top: none;
        border-right-width: 10px;
        width: 250px;
        .hpColor{
          margin-top: 12px;
          background-color: #22C55E;
          width: 100%;
          transition: .5s;
        }
        .hpColor-yellow{background-color: rgb(228, 207, 53);}
        .hpColor-red{background-color: rgb(197, 34, 34);}
      }
    }
  }
  .whatType{
    opacity: 0;
    transition: .5s;
    margin-left: 40px;
    img{margin: 0 5px}
  } 
  .guessWho{
    width: 100%; height: 300px;
    position: relative;
    .left4{filter: blur(15px) brightness(40%);}
    .left3{filter: blur(10px) brightness(50%);}
    .left2{filter: blur(5px) brightness(80%);}
    .left1{filter: blur(3px) brightness(100%);}
    .left0{filter: blur(0px) brightness(100%);}
    img{
      position: fixed; right: 7.5%; top: 17%;
      width: 250px; height: 250px; object-fit: contain;
      //처음 단계 left5
      filter: blur(15px) brightness(0%);
      //타입 알려줌 left4
      // filter: blur(15px) brightness(40%);
      //설명 알려줌 left3
      // filter: blur(10px) brightness(50%);
      //left2
      // filter: blur(5px) brightness(80%);
      //left1
      // filter: blur(3px) brightness(100%);
      //결과
      // filter: blur(0px) brightness(100%);
    }
  }
  .whatScript{
    position: fixed; top: 45%; left: 50%;
    transform: translate(-50%,0%);
    width: 100%;
    @include flex(center,center){};
    z-index: 2;
    .textSlot{
      opacity: 0;transition: .5s;
      width: 80%;
      border: 3px solid #000;
      border-radius: 6px;
      p{
        word-break:keep-all;
        margin: 5px; 
        border: 5px solid #000;
        border-radius: 6px;
        background-color: #FFF;

        color: #000;
        font-family: DungGeunMo;
        font-size: 23px;
        font-weight: 400;
        padding: 5% 10%;
        @include flex(center,center){};
        text-align: left;
      }
    }
  }
  .afterResearch{
    opacity: 1 !important;
  }
  .howManyBalls{
    width: 100%;
    position: fixed; bottom: 30%;
    @include flex(center,center){};
    z-index: 4;
    .fiveballs{}
  }
  .whatAction{
    width: 100%; 
    z-index: 4;
    @include flex(center,center){};
    button{
      color: #000;
      font-family: DungGeunMo;
      font-size: 30px;
      font-weight: 400;
    }
    .forBg{
      width: 95%; height: 190px;
      position: fixed; bottom: 7%; right: 50%;
      transform: translate(50%,-15%);
      border-radius: 9px;
      background-color: $color-main;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      .actions{
        height: 100%;
        padding: 5px;
        position: relative;
        @include flex(center,center){flex-direction: column};
        .bigAct{
          height: 50%; width: 75%;
          margin: 5px 0;
          border-radius: 9px;
          background: #E0E0E0;
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          @include flex(center,center){};
          cursor: pointer;
        }
        form .nameInput{
          position: absolute; top: 0; left: 12%;
          width: 75%; height: 50%; 
          margin: 5px 0;
          border-radius: 9px;
          border: 3px solid #000;
          background: #fff;
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          @include flex(center,center){};
          
          font-size: 25px;
          @include fontPx();
        }
        .forDivide{
          height: 50%; width: 95%;
          @include flex(center,center){};
          .smallAct{
            height: 90%; width: 48%;
            margin: 0 5px;
            border-radius: 9px;
            background: #E0E0E0;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            @include flex(center,center){};
            cursor: pointer;
            transition: .5s;
          }
        }
      }
    }
  }
  .runScript{
    position: fixed; top: 0%; left: 50%;
    transform: translate(-50%,0%);
    width: 120%; height: 100vh;
    @include flex(center,center){};
    z-index: 3;
    background-color: rgb(0, 0, 0,0.9);
    div{
      width: 80%;
      border: 3px solid #000;
      border-radius: 6px;
      background-color: #FFF;
      p{
        word-break:keep-all;
        margin: 5px; 
        border: 5px solid #000;
        border-radius: 6px;
        background-color: #FFF;

        color: #000;
        font-family: DungGeunMo;
        font-size: 25px;
        font-weight: 400;
        padding: 5% 10%;
        @include flex(center,center){};
        text-align: left;
        z-index: 3;
      }
    }
    // display: none;
    opacity: 0;
    transition: .3s;
  }
  .running{
    opacity: 1;
  }
  .tutorial{
    transition: .5s;
    position: fixed; top: 42.5%; left: 50%;
    transform: translate(-50%,0%);
    width: 120%; 
    @include flex(center,center){};
    z-index: 2;
    .t_inner{
      width: 80%;
      border: 3px solid #000;
      border-radius: 6px;
      background-color: #FFF;
      section{
        b{line-height: 130%;}
        word-break:keep-all;
        margin: 5px; 
        border: 5px solid #000;
        border-radius: 6px;
        background-color: #FFF;

        color: #000;
        font-family: DungGeunMo;
        font-size: 25px;
        font-weight: 400;
        padding: 5% 10%;
        @include flex(center,flex-start){flex-direction: column};
        text-align: left;
        z-index: 3;
        
        span{font-size: 15px; font-family: suit;}
        dl{
          width: 100%;
          @include flex(space-between,flex-start){text-align: left};
          div{
            width: 33%;
            font-size: 20px;
          }
        }
      }
    }
  }
}
//=========↓↓↓======도감전체===========↓↓↓=====도감전체============
.pokedex{
  @include bg_ball();
  height: 100%;
  background-color: $color-bg;
  @include flex(flex-start,flex-start){flex-direction: column};
  h1{
    @include fontPx();
    color: #FFF;
    text-align: center;
    font-size: 30px;

    border-radius: 9px;
    background-color: $color-main;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px 20px;
    margin: 15px;
    @include flex();
  }
  .dexHead{
    padding: 25px;
    position: relative;
    width: 100%; 
    .headLeft{
      h2{
        margin: 10px 0;
        color: #000;
        text-align: left;
        font-family: SUIT;
        font-size: 36px;
        font-weight: 900;
        line-height: normal;
      }
      p{
        text-align: left;
        color: #888;
        font-family: SUIT;
        font-size: 16px;
        font-weight: 700;
        line-height: normal;
      }
    }
    .headRight{
      width: 160px; height: 80px;
      @include flex(center,center){flex-direction: column};
      position: absolute; top: 0%; right: 5%; 
      p{
        font-family: SUIT;
        color: #888;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
      }
      .coinBag{
        @include flex(center,center);
        
        img{}
        b{
          color: #000;
          text-align: center;
          font-family: SUIT;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
    }
    
  }
  .pokemonList{    
    width: 100%;
    margin-top: 20px;
    margin-bottom: 100px;
    @include flex(center, ){flex-wrap: wrap};
    .eachPokemon{
      margin: 13px;
      width: 180px; height: 180px;
      border-radius: 21px;
      background: #FFF;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      a{
        .eachInner{
          width: 100%; height: 100%;
          @include flex(center,center){flex-direction: column};
          div{
            @include flex();width: 100%; 
            p{
              @include fontSuit();
              font-size: 16px;
              color: #888;
              text-align: left;
              padding: 15px;
              span{
                color: #000;
                font-weight: 700;
                margin-left: 5px;
              }
            }
          }
          img{width: 70px; height: 70px;}
          .pkmType{
            width: 100%;
            margin-top: 10px;
            @include flex(center,center);
            .type{
              @include flex(center,center);
              margin: 5px;
              width: 78px; height: 17px; border-radius: 25px;
              img{width: 15px;height: 15px; object-fit: cover; margin-right: 2px;}
              figcaption{
                @include fontSuit();
                color: #FFF;
                font-size: 8px;
                font-weight: 700;
                margin-top: 2px;
              }
            }
          }
        }
      }
    }
  }
}
//=========↓↓↓======디테일===========↓↓↓=====도감디테일============
.detail{
  @include bg_ball();
  height: 100vh;
  background-color: $color-bg;
  @include flex(flex-start,flex-start){flex-direction: column};
  .header{
    width: 100%;
    @include flex();
    h1{
      @include fontPx();
      color: #FFF;
      text-align: center;
      font-size: 30px;

      border-radius: 9px;
      background-color: $color-main;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      padding: 10px 20px;
      margin: 15px;
    }
    .backBtn{cursor: pointer;}
  }
  .pkmHead{
    width: 100%;
    position: relative;
    .bg_typecolor{ 
      margin-top: 15px;
      width: 100%; height: 350px;
      background: #42BF24;
      opacity: .5; z-index: -1;
    }
    .bg_above{
      width: 100%; height: 350px;
      position: absolute; top: 0; left: 0;
      z-index: 1;

      margin-top: 110px;

      color: #000;
      text-align: center;
      @include fontSuit();
      h3,h2{
        font-size: 36px;
        font-weight: 900;
        margin: 15px auto;
      }
      img{width: 180px; height: 180px; object-fit: contain;}
    }
  }
  .pkmType{
    width: 100%;
    margin-top: 70px;
    @include flex(center,center);
    .type{
      background-color: #42BF24;
      @include flex(center,center);
      margin: 5px;
      width: 180px; height: 40px; border-radius: 25px;
      img{width: 22px;height: 22px; object-fit: cover;}
      figcaption{
        @include fontSuit();
        color: #FFF;
        font-size: 20px;
        font-weight: 700;
      }
    }
  }
  .pkmDescription{
    width: 100%;
    @include flex(center,center );
    .wrapDesc{
      width: 100%;
      padding: 10%;
      color: #888888;
      @include fontSuit();
      .desc{
        height: 120px;
        font-size: 20px;
        font-weight: 700;
        @include flex(center,flex-start );
        text-align: left;
        line-height: 150%
      }
      .pkmProfile{
        @include flex( ){};
        div{
          width: 33.3333%;
          height: 36px;
          font-size: 16px;
          font-weight: 700;
          border-right: 3px solid #D9D9D9;
          @include flex(center,center){};
          span{}
        }
        .which{border: none;}
      }
    }
  }
  .buyOrNot{
    width: 100%;
    @include flex(center,center){};
    .buyBtn{
      width: 180px; height: 40px; border-radius: 25px;
      background: #FFF;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      @include flex(center,center){};
      @include fontSuit(); font-size: 16px; font-weight: 700;
      cursor: pointer;
      p{margin-right: 5px;}
      .pay{
        @include flex(center,center){};
        img{width: 22px; height: 22px;}
        code{}
      }
    }
    .purchased{
      background: #9C9898;
      color: #FFF;
    }
  }
}
//=========↓↓↓======내포켓몬===========↓↓↓=====마이페이지============
.myPkm{
  background-color: rgb(134, 181, 223,0.5) ;
  .collectGauge{
    width: 180px; height: 45px;
    position: absolute; top: 25%; left: 50%;
    transform: translate(-50%,0);

    border-radius: 25px;
    background-color: $color-main;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    color: #FFF;
    text-align: center; 
    font-family: SUIT;
    font-size: 20px;
    font-weight: 700;
    @include flex(center,center);
  }
  .pokemonList{
    margin-top: 70px ;
    .eachPokemon{
      width: 110px; height: 110px;
      .eachInner{
        div{
          p{
            font-size: 5px !important;
            span{font-size: 15px;}
          }
        }
        img{
          width: 60px !important; height: 60px !important;
          margin-top: -30px;
        }
        .YMD{
          @include fontSuit();
          font-size: 13px;
          font-weight: 600;
        }
      }
    }
  }
}
//=========↓↓↓=====공통=네비===========↓↓↓====공통=네비============
.botNav{
  z-index: 3;
  width: 95%; height: 55px;
  border-radius: 9px;
  background-color: $color-main;

  position: fixed;
  bottom: 2%; left: 50%;
  transform: translate(-50%,);
  .navWrap{
    width: 100%; height: 100%;
    @include flex(space-around);
    .navBtn{
      width: 32px; height: 40px;
      @include flex(center, center);
      a{
        width: 100%; height: 100%;
        @include flex(center,center ){flex-direction: column};
        @include fontSuit();
        color: #FFF; font-size: 8px;
        text-align: center;
        img{margin-bottom: 5px;}
      }
    }
  }
}
.upBtn{
  position: fixed;
  bottom: 8%; right: 3%;
}
//세로 스크롤바 삭제
body{ -ms-overflow-style: none;}
::-webkit-scrollbar{display: none;}

//스위트 alert 커스텀하기
.swal2-popup {
  font-size: 1rem !important;
  font-family: 'DungGeunMo';
}
//로딩 메세지
.infinite-scroll-component__outerdiv{
  height: 100%;
  .infinite-scroll-component{
    height: 100%;
    .loading-message{
      @include flex(center,flex-start){};
      width: 100%;height: 100%;
      font-size: 2rem;
      font-family: 'DungGeunMo';
    }
  }
}