@charset "utf-8";
@import "_reset";

header{
    position: absolute; left: 0; top: 0;
    width: 100%;
    z-index: 2;
    .bot{margin: 0px; display: none;}
    &:hover .bot{display: block;}
    &:hover{
        background-color: #fff; z-index: 1;
        transition: .5s;
    }
    &:hover .hoverBox{
        background-color: #fff; z-index: 1;
        transition: .5s; height: 200px;}
    .head-top{
        width: 100%;
        padding: 0 5%;
        @include flex(){ width: 60% };
        a{ 
            font-size: 14px; 
            color: #fff;
            text-decoration: none;
            padding: 10px 0;
            font-weight: 600;
            opacity: 0.9;
        }
        a img:nth-child(1){display: block;};
        a img:nth-child(2){display: none;};
    }
    hr{width: 100%;}
    .head-area{
        height: 50%;
        padding: 0 5%;
        @include flex(center, center){};
        .logo{ 
            // position: absolute; left: 2%; top: 9%;
            flex-grow: 1;
            img:nth-of-type(1){display: block;}
            img:nth-of-type(2){display: none;}
        }
        .dropdown{
            @include flex(space-evenly,flex-start){flex-grow: 8; };
            div{@include flex(){flex-direction: column};
            position: relative;
                .gnb{
                    font-size: 18px; 
                    color: #fff;
                    text-decoration: none;
                    left: 50%;
                    padding: 28px 40px;
                    border-bottom: 2px solid transparent;
                }
                .skip{
                    display: none;
                    position: absolute; top: 100%;
                    margin-top: 10px; font-weight: 300;
                    z-index: 10;
                    li { 
                        display: flex; justify-content: center;
                        a{padding: 5px 0; color: #222;}
                        .act{
                            font-weight: 500;
                            &:hover{color:#CA2C52;transition: .5s;}
                        }
                    }
                }
            }
        }
        .icon{ flex-grow: 1; text-align: right; z-index: 2; 
            a{padding: 10px;}
            a:nth-child(1),a:nth-child(2){display: inline-block;}
            a:nth-child(3),a:nth-child(4){display: none;}
        }
    }
    &:hover .head-top a, &:hover .head-area .dropdown a{
        color: #222;
    }
    &:hover .logo, &:hover .head-top a{
        img:nth-of-type(1){display: none;}
        img:nth-of-type(2){display: block;}
    }
    &:hover .icon{
        a:nth-child(1),a:nth-child(2){display: none;}
        a:nth-child(3),a:nth-child(4){display: inline-block;}
    }
    .head-area .dropdown .gnb:hover{
        color:#CA2C52; transition: .5s;
        border-bottom: 2px solid #CA2C52;
    }
    .head-area .dropdown .gnb:hover::after{border-bottom: 2px solid #CA2C52;}
    .hoverBox{width: 100%; height: 0; background-color: transparent;}
    &:hover .head-area .dropdown div .skip{display: block;}
}//end header
main{
    .visual{
        position: relative;
        h1{
            z-index: 10;
            position: absolute;
            left:55%; top: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            font-size: 4.5rem;
            text-align: right;
            width: 80%;
        }
        .loading{
            z-index: 3;
            width: 85%; height: 80px;
            position: absolute; left: 50%; bottom: 15%;
            transform: translate(-50%, -50%);
            @include flex(center,){flex-direction: column;};
            .progress_bar{
                width: 100%; height: 1px;
                background-color: #eee;
                opacity: 0.9;
                position: relative;
                .progress_gauge{
                    position: absolute; left: 0; top: -2px;
                    height: 5px; 
                    background-color: #fff;
                    width: 5%;

                    animation-name: loading-bar;
                    animation-duration: 5s;
                    animation-iteration-count: infinite;
                    animation-timing-function: ease-out;
                }
                // @keyframes loading-bar {
                //     0%{width: 0;}
                //     100%{width: 100%;}
                // }
            }
        }
        .tab{
            .tab-label{
                label{
                    display: inline-block;
                    padding: 10px 20px;
                    z-index: 10;
                    position: absolute;
                    
                    left: 0; bottom: 25%;
                    transform: translateX(150px);
                    font-size: 18px; color: #fff; font-weight: lighter;
                    opacity: .7; transition: .5s;
                }
                label:nth-of-type(2){transform: translateX(300px);}
                label:nth-of-type(3){transform: translateX(450px);}

                label:hover, label.active{opacity: 1;}
                label:hover::after, label.active::after{
                    display: inline-block;
                    content: '';
                    width: 15px; height: 15px;
                    background-color: #CA2C52;
                    border-radius: 50%;
                    transform: translateY(-15px);
                    opacity: 1;
                }
            }
            .tab-wrap{
                overflow-x: hidden;
                width: 100%; height: 969px;
                position: relative;  
                overflow: hidden;
                .tab-wrap-more{
                    display: flex; transition: 1s; margin: 0; width: 100%;
                    div{img{
                        opacity: 1; 
                        position:absolute; left: 0; top: 0;
                        transition: .3s;}}
                }
            }
            input{display: none;}
        }//end tab
        .tab .tab-wrap .tab-wrap-more div img.active{opacity: 1;}
        .tab .tab-wrap .tab-wrap-more div img{opacity: 0; z-index: -10;}

        .tab .tab-wrap .tab-wrap-more div div.active{display: flex;}
        .tab .tab-wrap .tab-wrap-more div div{display: none; }
        .tab .tab-wrap .tab-wrap-more div strong img{opacity: 1;}

        .tab-child01, .tab-child02, .tab-child03{
            position: absolute; left: 50%; bottom: 10%;
            transform: translate(-50%, 0);
            width: 80%;
            text-align: center; 
            @include flex(){};
            strong{
                position: relative;
                a{  
                    color: #fff;
                    font-size: 20px;
                    text-decoration: none;
                    z-index: 10;
                    transition: .8s;
                }
                img{
                    width: 126px; height: 126px;
                    transform: translate(-10%,150%);
                    z-index: 20;
                }
            }
            strong:hover img{transform: translate(-10%,-20%); z-index: 20;}
            strong:hover a{opacity: 0;}

        }
        .circle{ 
            width: 120px; height: 120px;
            border: 1px solid #ddd;
            background-color: #fff;
            border-radius: 50%;
            text-align: center;
            box-shadow:4px 20px 40px rgba(0, 0, 0, 0.15);
            position: absolute; right: 3%; bottom: -6%;
            img{
            // width: 100%;
            padding: 15px;
            }
        }
    }//end visual
    .news{
        width: 100%;
        padding: 160px;
        display: flex;
        .l-title{
            width: 30%;
            b{font-size: 20px;
                &:after{
                    display: flex;
                    content: '';
                    border-top: 1px solid #222;
                    margin: 0 30%;
                    transform: translate(-20px, -13px);
                }
            }
            h2{
                font-size: 56px;
                span{color:#787878}
            }
        }
        .r-body{
            width: 70%;
            @include flex(){flex-wrap: wrap};
            li{
                text-align: left;
                width:49%;
                background-color: #f8f8f8;
                padding: 40px;
                border-radius: 20px;
                margin: 0px;
                
                .category{@include flex(){}; font-size: 18px; color:#CA2C52;}
                .subject{font-size: 24px;color:black; }
                .descreption{font-size: 18px; font-weight:300; color:black;}
                .date{font-size: 16px; font-weight:300;color:black;}
                &:hover{
                    transform: translate(-1%,-1%); 
                    background-color: #fff;
                    box-shadow:4px 20px 40px rgba(0, 0, 0, 0.15);
                }
            }
            li:nth-child(4){//card-ad
                transform: none;
                box-shadow:none;
                background-color:rgba(0, 0, 0, 0);
                padding: 10px 0 0 0;
                .slide{
                    overflow: hidden;
                    figure{
                        margin: 0; display: flex; transition: .5s; 
                        img{width: 100%}
                    }
                }
                .ctrl-slide{ 
                    @include flex(flex-end,center){}; 
                    p{
                        font-size: 18px;
                        font-weight: 400;
                        span{color: #CA2C52;}
                    }
                    // span img:nth-of-type(2){display: none;}
                }
            }
        }
    }//end news
    .business{
        width: 100%;
        padding: 160px;
        .t-title{
            b{font-size: 20px;
                &:after{
                    display: flex;
                    content: '';
                    border-top: 1px solid #222;
                    margin: 0 44%;
                    transform: translate(-560px, -13px);
                }
            }
            h2{
                font-size: 56px;
                span{color:#787878}
            }
        }
        .bBody{
            text-align: left;
            margin:150px 0;
            .accordion{
                width: 100%;
                margin: 50px auto;
                display: flex;
                li{
                    // width: 1198px; 
                    height: 444px;
                    padding: 135px 80px;                    
                    border-radius: 20px;
                    color: white;
                    flex-grow: 1;
                    transition: 1.5s;
                    .txt-wrap{
                        @include flex(center,);
                        .ver{font-size: 32px;  writing-mode: vertical-lr;}
                        .gone{
                            text-align: left;
                            display: none;
                            writing-mode: sideways-lr;
                            strong{font-size: 32px;}
                            p{font-size: 18px; font-weight: 300; margin: 10% 0 5% 0 ;}
                            button{
                                width: 56px; height: 56px;
                                background-color: #E1002A;
                                border-radius: 50%;
                                border:none;
                            }
                        }
                    }
                }
                li:hover{flex-grow: 10;}
                li:hover .txt-wrap .ver{display: none; transition: 1s;}
                li:hover .txt-wrap .gone{display: block; transition: 1s;}
                .pack01{background-image: url('../img/index/content_business/main_section_business_slide04.png');}
                .pack02{background-image: url('../img/index/content_business/main_section_business_slide03.png');}
                .pack03{background-image: url('../img/index/content_business/main_section_business_slide02.png');}
                .pack04{background-image: url('../img/index/content_business/main_section_business_slide01.png');}
            }
        }
    }//end business
}//end main
/*==============================모바일480=============================================*/
@media (max-width: 480px) {
header{display: none;}
.mobile_header{
    position: absolute; left: 0; top: 0;
    width: 100%;
    z-index: 2;
    .mHead{
        padding: 0 0 0 5%;
        @include flex(space-between,flex-end){};
        .mLogo{display: block; transform: translate(-10%, 15%);}
        .mIcon {
            display: flex; justify-content: flex-end;
            width: 20%;
            a{ padding: 0 5%;}
        }
    }
}
main{
    .visual{
        width: 100%;
        h1{
            width: 100%;
            left:50%; top: 45%;
            font-size: 25px;
            padding-right: 3%;
        }
        // .loading{bottom: 40px;}
        .loading{bottom: 26%;}
        .tab{overflow: hidden;
            .tab-label{ label{left: -25%; bottom: 40%;font-size: 16px;}
        }
            .tab-wrap{
                width: 100%; height: 740px;
                overflow: hidden; position: relative;
                .tab-wrap-more{
                    display: flex; transition: 1s; margin: 0; width: 100%;
                    div{img{z-index: -1;}}
                }
            }
        }//end tab
        .tab-child01,.tab-child02{
            left: 10%; bottom: 5%;
            transform: translate(0, 0);
            
            @include flex(left,center){flex-wrap: wrap};
            strong{ 
                width: 30%; height: 60px;
                padding-top: 0;
                border: 1px solid rgba(255, 255, 255, 0.5);
                border-radius: 0.8rem; margin: 1%;
                @include flex(center,center){};
                a{font-size: 16px;}
                img{display: none;}
                &:hover img{display: none;}   
            }strong:hover a{opacity: 1;}
        }
        .tab-child03{
            left: 10%; bottom: 14%;
            transform: translate(0, 0);
            
            @include flex(left,center){flex-wrap: wrap};
            strong{ 
                width: 30%; height: 60px;
                padding-top: 0;
                border: 1px solid rgba(255, 255, 255, 0.5);
                border-radius: 0.8rem; margin: 1%;
                @include flex(center,center){};
                a{font-size: 16px;}
                img{display: none;}
                &:hover img{display: none;}
            }strong:hover a{opacity: 1;}
        }
        
        .circle{bottom: -9%; }
    }//end visual
    .news{
        margin-top: 10%;
        padding: 10%; 
        display: block; 
        .l-title{
            width: 100%; margin: 10% 0;
            h2{ font-size: 30px; span{color:#787878} }
        }
        .r-body{
            width: 100%;
            @include flex(){display: block};
            li{
                width:100%;
                margin: 3% 0;
                .category{font-size: 16px; }
                .subject{font-size: 20px; }
                .descreption{font-size: 16px;  }
                .date{font-size: 14px; }
                &:hover{
                    transform: translate(-1%,-1%); 
                    background-color: #fff;
                    box-shadow:4px 20px 40px rgba(0, 0, 0, 0.15);
                }
            }
            li:nth-child(4){
                transform: none;
                box-shadow:none;
                background-color:rgba(0, 0, 0, 0);
                .ctrl-slide{ 
                    @include flex(flex-end,center){}; 
                    margin-left: 0px;
                    margin: 1% 1% 0 1%;
                }
                
            }
        }
    }//end news
    .business{ 
        width: 100%; padding: 10%;  display: block; 
        .t-title{
            h2{ font-size: 30px;}
        }
        .bBody{
            overflow: hidden;
            margin:0 0;
            .accordion{
                width: 1060px;
                margin: 5% auto;
                @include flex(){};
                li{
                    width: 25%; height: 320px;
                    padding: 0px 0px; 
                    margin-right: 10px;
                    .txt-wrap{
                        .ver{display: none;}
                        .gone{
                            text-align: left;
                            display: flex;
                            flex-direction: column;
                            padding: 72px 18px;
                            strong{font-size: 21px;}
                            p{font-size: 16px; margin: 10px 0; font-weight: 400;}
                        }
                    }
                }li:hover{flex-grow:1;}
            }   
        }//end m-body
    }//end business
}//end main
}//end 모바일

@media (min-width: 481px) and (max-width: 767px){
    header{display: none;}
    .mobile_header{
        position: absolute; left: 0; top: 0;
        width: 100%;
        z-index: 2;
        .mHead{
            padding: 0 0 0 5%;
            @include flex(space-between,flex-end){};
            .mLogo{display: block; transform: translate(-10%, 15%);}
            .mIcon {
                display: flex; justify-content: flex-end;
                width: 20%;
                a{ padding: 0 5%;}
            }
        }
    }
    main{
        .visual{
            width: 100%;
            h1{
                width: 100%;
                left:50%; top: 45%;
                font-size: 25px;
                padding-right: 3%;
            }
            // .loading{bottom: 40px;}
            .loading{bottom: 26%;}
            .tab{
                
                .tab-label{ label{left: -25%; bottom: 40%;font-size: 16px;}
                    // label:nth-of-type(2){transform: translateX(193%);}
                    // label:nth-of-type(3){transform: translateX(300%);}
            }
                .tab-wrap{
                    width: 100%; height: 740px;
                    overflow: hidden;
                    .tab-wrap-more{
                        display: flex; transition: 1s; margin: 0; width: 100%;
                        div{img{z-index: -1;}}
                    }
                }
            }//end tab
            .tab-child01,.tab-child02{
                left: 10%; bottom: 5%;
                transform: translate(0, 0);
                
                @include flex(left,center){flex-wrap: wrap};
                strong{ 
                    width: 30%; height: 60px;
                    padding-top: 0;
                    border: 1px solid rgba(255, 255, 255, 0.5);
                    border-radius: 0.8rem; margin: 1%;
                    @include flex(center,center){};
                    a{font-size: 16px;}
                    img{display: none;}
                    &:hover img{display: none;}
                }strong:hover a{opacity: 1;}
            }
            .tab-child03{
                left: 10%; bottom: 14%;
                transform: translate(0, 0);
                
                @include flex(left,center){flex-wrap: wrap};
                strong{ 
                    width: 30%; height: 60px;
                    padding-top: 0;
                    border: 1px solid rgba(255, 255, 255, 0.5);
                    border-radius: 0.8rem; margin: 1%;
                    @include flex(center,center){};
                    a{font-size: 16px;}
                    img{display: none;}
                    &:hover img{display: none;}
                }strong:hover a{opacity: 1;}
            }
            .circle{bottom: -9%; }
        }//end visual
        .news{
            margin-top: 5%;
            padding: 10%; 
            display: block; 
            .l-title{
                width: 100%; margin: 10% 0;
                h2{ font-size: 30px; span{color:#787878} }
            }
            .r-body{
                width: 100%;
                @include flex(){display: block};
                li{
                    width:100%;
                    margin: 3% 0;
                    &:hover{
                        transform: translate(-1%,-1%); 
                        background-color: #fff;
                        box-shadow:4px 20px 40px rgba(0, 0, 0, 0.15);
                    }
                }
                li:nth-child(4){
                    transform: none;
                    box-shadow:none;
                    background-color:rgba(0, 0, 0, 0);      
                    .ctrl-slide{ 
                        @include flex(flex-end,center){}; 
                        margin-left: 0px;
                        margin: 1% 1% 0 1%;
                    }
                }
            }
        }//end news
        .business{ 
            width: 100%; padding: 10%;  display: block; 
            .t-title{
                b{font-size: 20px;
                    &:after{
                        display: flex;
                        content: '';
                        border-top: 1px solid #222;
                        margin: 0 44%;
                        transform: translate(-560px, -13px);
                    }
                }
                h2{ font-size: 30px; span{color:#787878}}
            }
            .bBody{
                overflow: hidden;
                margin:0 0;
                .accordion{
                    margin: 5% auto;
                    width: 1060px;
                    @include flex(){};
                    li{
                        width: 25%; height: 320px;
                        padding: 0px 0px; 
                        margin-right: 10px;
                        .txt-wrap{
                            .ver{display: none;}
                            .gone{
                                text-align: left;
                                display: flex;
                                flex-direction: column;
                                padding: 72px 18px;
                                strong{font-size: 21px;}
                                p{font-size: 16px; margin: 10px 0; font-weight: 400;}
                            }
                        }
                    }li:hover{flex-grow:1;}
                }   
            }//end m-body
        }//end business
    }//end main
} 
/*==============================태블릿768=============================================*/
@media (min-width: 768px) and (max-width: 1279px){
    header{display: none;}
    .mobile_header{
        position: absolute; left: 0; top: 0;
        width: 100%;
        z-index: 2;
        .mHead{
            padding: 0 0 0 5%;
            @include flex(space-between,flex-end){};
            .mLogo{display: block; transform: translate(-10%, 15%);}
            .mIcon {
                display: flex; justify-content: flex-end;
                width: 20%;
                a{ padding: 0 5%;}
            }
        }
    }
    main{
        .visual{
            width: 100%;
            h1{
                width: 100%;
                left:50%; top: 45%;
                font-size: 2.5rem;
                padding-right: 3%;
            }
            // .loading{bottom: 40px;}
            .loading{bottom: 26%;}
            .tab{
                .tab-label{ label{left: -13%; bottom: 37%;font-size: 16px;} }
                .tab-wrap{
                    width: 100%; height: 740px;
                    position: relative;
                    overflow: hidden; 
                    .tab-wrap-more{
                        display: flex; transition: 1s; margin: 0; width: 100%;
                        div{img{z-index: -1;}}
                    }
                }
            }//end tab
            .tab-child01,.tab-child02{
                left: 10%; bottom: -15%;
                transform: translateY(-130px);
                @include flex(left,center){flex-wrap: wrap};
                strong{ 
                    width: 30%; height: 60px;
                    padding-top: 0;
                    border: 1px solid rgba(255, 255, 255, 0.5);
                    border-radius: 0.8rem; margin: 1%;
                    @include flex(center,center){};
                    a{font-size: 16px;}
                    img{display: none;}
                    &:hover img{display: none;}
                }strong:hover a{opacity: 1;}
            }
            .tab-child03{
                left: 10%; bottom: -5%;
                transform: translateY(-130px);
                
                @include flex(left,center){flex-wrap: wrap};
                strong{ 
                    width: 30%; height: 60px;
                    padding-top: 0;
                    border: 1px solid rgba(255, 255, 255, 0.5);
                    border-radius: 0.8rem; margin: 1%;
                    @include flex(center,center){};
                    a{font-size: 16px;}
                    img{display: none;}
                    &:hover img{display: none;}
                }strong:hover a{opacity: 1;}
            }
            .circle{bottom: -9%; }
        }//end visual
        .news{
            margin-top: 10%;
            padding: 10%; 
            display: block; 
            .l-title{
                width: 100%; margin: 0% 0;
                b::after{display: none;}
                h2{ font-size: 30px; span{color:#787878} }
            }
            .r-body{
                width: 100%;
                @include flex(){display: block};
                li{
                    width:100%;
                    margin: 3% 0;
                    &:hover{
                        transform: translate(-1%,-1%); 
                        background-color: #fff;
                        box-shadow:4px 20px 40px rgba(0, 0, 0, 0.15);
                    }
                }
                li:nth-child(4){
                    transform: none;
                    box-shadow:none;
                    background-color:rgba(0, 0, 0, 0);
                    .ctrl-slide{ 
                        @include flex(flex-end,center){}; 
                        margin: 1% 1% 0 1%;
                        margin-left: 200px;
                    }
                }
            }
        }//end news
        .business{ 
            width: 100%; padding: 10%;  display: block; 
            .t-title{
                h2{ font-size: 30px;}
            }
            .bBody{
                overflow: hidden;
                margin:0 0;
                .accordion{
                    margin: 5% auto;
                    width: 1060px;
                    @include flex(){};
                    li{
                        width: 25%; height: 320px;
                        padding: 0px 0px; 
                        margin-right: 10px;
                        .txt-wrap{
                            .ver{display: none;}
                            .gone{
                                text-align: left;
                                display: flex;
                                flex-direction: column;
                                padding: 72px 18px;
                                strong{font-size: 21px;}
                                p{font-size: 16px; margin: 10px 0; font-weight: 400;}
                            }
                        }
                    }li:hover{flex-grow:1;}
                }   
            }//end m-body
        }//end business
    }//end main
}//end 태블릿
/*==============================PC이상============================================*/
@media (min-width: 1280px){.mobile_header{display: none;}}
