@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 600;
}

h1, h2, h3, h4, p, figure {
  margin: 0;
}

ul, li, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

strong {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

button {
  margin: 0;
  pad: 0;
  border: 0;
}

footer {
  background-color: #fff;
  width: 100%;
  padding: 60px;
}
footer .f-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
}
footer .f-inner .copyright div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 16px;
  width: 85%;
  text-align: left;
  font-weight: 400;
  margin: 1%;
}
footer .f-inner .copyright p {
  text-align: left;
  color: #555;
  font-weight: 400;
}
footer .f-inner .copyright p span {
  font-weight: 700;
  color: #222;
}
footer .f-inner .familysite {
  width: 13%;
  padding: 0 5px;
  margin-bottom: 30px;
  border-bottom: 2px solid #222;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
}
footer .f-inner .familysite a {
  font-size: 16px;
  font-weight: 400;
  color: #222;
  text-decoration: none;
}
footer .f-inner .familysite a img {
  width: 24px;
  height: 24px;
}
footer .f-inner .familysite .pop-up {
  width: 430px;
  height: 660px;
  background-color: #f8f8f8;
  color: #222;
  box-shadow: 4px 20px 40px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  display: flex;
}
footer .f-inner .familysite .pop-up .pop-head {
  font-size: 20px;
  font-weight: lighter;
  padding: 0 5%;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
footer .f-inner .familysite .pop-up hr {
  width: 90%;
  margin-top: 30px;
  margin: 3%;
}
footer .f-inner .familysite .pop-up .pop-body {
  height: 80%;
}
footer .f-inner .familysite .pop-up .pop-body ul {
  margin: 0;
  padding: 5%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}
footer .f-inner .familysite .pop-up .pop-body ul li {
  width: 45%;
  text-align: left;
  padding: 3%;
  margin: 1% 2%;
  background-color: rgba(71, 78, 99, 0.05);
  border-radius: 20px;
}
footer .f-inner .familysite .pop-up .pop-body ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: lighter;
  color: #222;
}
footer .f-inner .familysite .pop-up .pop-body ul li a::after {
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  background: url("../img/index/footer/ico_link_external.svg");
  margin-left: 2%;
}
footer .f-inner .familysite .pop-up .pop-body ul li .s {
  font-size: 15px;
}
footer .f-inner .familysite .pop-backg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  display: none;
}
footer .f-inner .familysite.active .pop-backg {
  display: flex;
}
footer .page_up {
  border-radius: 50%;
  background-color: #aaa;
  padding: 1%;
  text-align: center;
  position: fixed;
  right: 3%;
  bottom: 6%;
  transition: 0.5s;
}
footer .page_up:hover {
  background-color: #555;
}
footer .page_up img {
  width: 24px;
  height: 24px;
}

/*==============================모바일480=============================================*/
@media (max-width: 480px) {
  footer {
    background-color: #fff;
    width: 100%;
    padding: 0px;
  }
  footer .f-inner {
    display: block;
  }
  footer .f-inner .copyright .forMobile {
    flex-wrap: wrap;
  }
  footer .f-inner .copyright .forMobile a img {
    margin-left: 15px;
  }
  footer .f-inner .copyright .forMobile div {
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: 15px;
    text-align: left;
    font-weight: 400;
    padding: 10px;
  }
  footer .f-inner .copyright .forMobile div a {
    padding: 5px 10px;
  }
  footer .f-inner .copyright p {
    text-align: left;
    color: #555;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    padding: 15px;
  }
  footer .f-inner .copyright p span {
    font-weight: 700;
    color: #222;
  }
  footer .f-inner .familysite {
    width: 37%;
    padding: 0 5px;
    margin-left: 10px;
    margin-bottom: 30px;
    border-bottom: 2px solid #222;
  }
  footer .page_up {
    padding: 3%;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  footer {
    background-color: #fff;
    width: 100%;
    padding: 0px;
  }
  footer .f-inner {
    display: block;
  }
  footer .f-inner .copyright .forMobile {
    flex-wrap: wrap;
  }
  footer .f-inner .copyright .forMobile a img {
    margin-left: 15px;
  }
  footer .f-inner .copyright .forMobile div {
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: 15px;
    text-align: left;
    font-weight: 400;
    padding: 10px;
  }
  footer .f-inner .copyright .forMobile div a {
    padding: 5px 10px;
  }
  footer .f-inner .copyright p {
    text-align: left;
    color: #555;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    padding: 15px;
  }
  footer .f-inner .copyright p span {
    font-weight: 700;
    color: #222;
  }
  footer .f-inner .familysite {
    width: 37%;
    padding: 0 5px;
    margin-left: 10px;
    margin-bottom: 30px;
    border-bottom: 2px solid #222;
  }
  footer .page_up {
    padding: 3%;
  }
}
/*==============================태블릿768=============================================*/
@media (min-width: 768px) and (max-width: 1279px) {
  footer {
    background-color: #fff;
    width: 100%;
    padding: 0px;
  }
  footer .f-inner {
    display: block;
  }
  footer .f-inner .copyright .forMobile {
    flex-wrap: wrap;
  }
  footer .f-inner .copyright .forMobile a img {
    margin-left: 15px;
  }
  footer .f-inner .copyright .forMobile div {
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: 15px;
    text-align: left;
    font-weight: 400;
    padding: 10px;
  }
  footer .f-inner .copyright .forMobile div a {
    padding: 5px 10px;
  }
  footer .f-inner .copyright p {
    text-align: left;
    color: #555;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    padding: 15px;
  }
  footer .f-inner .copyright p span {
    font-weight: 700;
    color: #222;
  }
  footer .f-inner .familysite {
    width: 37%;
    padding: 0 5px;
    margin-left: 10px;
    margin-bottom: 30px;
    border-bottom: 2px solid #222;
  }
  footer .page_up {
    padding: 3%;
  }
}
header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}
header .bot {
  margin: 0px;
  display: none;
}
header:hover .bot {
  display: block;
}
header:hover, header:hover .hoverBox {
  background-color: #fff;
  z-index: 1;
  transition: 0.5s;
}
header .head-top {
  width: 100%;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 60%;
}
header .head-top a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  padding: 10px 0;
  font-weight: 600;
  opacity: 0.9;
}
header .head-top a img:nth-child(1) {
  display: block;
}
header .head-top a img:nth-child(2) {
  display: none;
}
header hr {
  width: 100%;
}
header .head-area {
  height: 50%;
  padding: 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header .head-area .logo {
  flex-grow: 1;
}
header .head-area .logo img:nth-of-type(1) {
  display: block;
}
header .head-area .logo img:nth-of-type(2) {
  display: none;
}
header .head-area .dropdown {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  text-align: center;
  flex-grow: 8;
}
header .head-area .dropdown div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-direction: column;
  position: relative;
}
header .head-area .dropdown div .gnb {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  left: 50%;
  padding: 28px 40px;
  border-bottom: 2px solid transparent;
}
header .head-area .dropdown div .skip {
  display: none;
  position: absolute;
  top: 100%;
  margin-top: 10px;
  font-weight: 300;
  z-index: 10;
}
header .head-area .dropdown div .skip li {
  display: flex;
  justify-content: center;
}
header .head-area .dropdown div .skip li a {
  padding: 5px 0;
  color: #222;
}
header .head-area .dropdown div .skip li .act {
  font-weight: 500;
}
header .head-area .dropdown div .skip li .act:hover {
  color: #CA2C52;
  transition: 0.5s;
}
header .head-area .icon {
  flex-grow: 1;
  text-align: right;
  z-index: 2;
}
header .head-area .icon a {
  padding: 10px;
}
header .head-area .icon a:nth-child(1), header .head-area .icon a:nth-child(2) {
  display: inline-block;
}
header .head-area .icon a:nth-child(3), header .head-area .icon a:nth-child(4) {
  display: none;
}
header:hover .head-top a, header:hover .head-area .dropdown a {
  color: #222;
}
header:hover .logo img:nth-of-type(1), header:hover .head-top a img:nth-of-type(1) {
  display: none;
}
header:hover .logo img:nth-of-type(2), header:hover .head-top a img:nth-of-type(2) {
  display: block;
}
header:hover .icon a:nth-child(1), header:hover .icon a:nth-child(2) {
  display: none;
}
header:hover .icon a:nth-child(3), header:hover .icon a:nth-child(4) {
  display: inline-block;
}
header .head-area .dropdown .gnb:hover {
  color: #CA2C52;
  transition: 0.5s;
  border-bottom: 2px solid #CA2C52;
}
header .head-area .dropdown .gnb:hover::after {
  border-bottom: 2px solid #CA2C52;
}
header .hoverBox {
  width: 100%;
  height: 500%;
  background-color: transparent;
}
header:hover .head-area .dropdown div .skip {
  display: block;
}

main .visual {
  position: relative;
}
main .visual h1 {
  z-index: 10;
  position: absolute;
  left: 55%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 4.5rem;
  text-align: right;
  width: 80%;
}
main .visual .loading {
  z-index: 3;
  width: 85%;
  height: 80px;
  position: absolute;
  left: 50%;
  bottom: 15%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
main .visual .loading .progress_bar {
  width: 100%;
  height: 1px;
  background-color: #eee;
  opacity: 0.9;
  position: relative;
}
main .visual .loading .progress_bar .progress_gauge {
  position: absolute;
  left: 0;
  top: -2px;
  height: 5px;
  background-color: #fff;
  width: 5%;
  animation-name: loading-bar;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}
main .visual .tab .tab-label label {
  display: inline-block;
  padding: 10px 20px;
  z-index: 10;
  position: absolute;
  left: 0;
  bottom: 25%;
  transform: translateX(150px);
  font-size: 18px;
  color: #fff;
  font-weight: lighter;
}
main .visual .tab .tab-label label:nth-of-type(2) {
  transform: translateX(300px);
}
main .visual .tab .tab-label label:nth-of-type(3) {
  transform: translateX(450px);
}
main .visual .tab .tab-label label:hover::after, main .visual .tab .tab-label label.active::after {
  display: inline-block;
  content: "";
  width: 15px;
  height: 15px;
  background-color: #CA2C52;
  border-radius: 50%;
  transform: translateY(-15px);
}
main .visual .tab .tab-wrap {
  overflow-x: hidden;
  width: 100%;
  height: 969px;
  position: relative;
  overflow: hidden;
}
main .visual .tab .tab-wrap .tab-wrap-more {
  display: flex;
  transition: 1s;
  margin: 0;
  width: 100%;
}
main .visual .tab .tab-wrap .tab-wrap-more div img {
  opacity: 1;
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s;
}
main .visual .tab input {
  display: none;
}
main .visual .tab .tab-wrap .tab-wrap-more div img.active {
  opacity: 1;
}
main .visual .tab .tab-wrap .tab-wrap-more div img {
  opacity: 0;
  z-index: -10;
}
main .visual .tab .tab-wrap .tab-wrap-more div div.active {
  display: flex;
}
main .visual .tab .tab-wrap .tab-wrap-more div div {
  display: none;
}
main .visual .tab .tab-wrap .tab-wrap-more div strong img {
  opacity: 1;
}
main .visual .tab-child01, main .visual .tab-child02, main .visual .tab-child03 {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, 0);
  width: 80%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
main .visual .tab-child01 strong, main .visual .tab-child02 strong, main .visual .tab-child03 strong {
  position: relative;
}
main .visual .tab-child01 strong a, main .visual .tab-child02 strong a, main .visual .tab-child03 strong a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  z-index: 10;
  transition: 0.8s;
}
main .visual .tab-child01 strong img, main .visual .tab-child02 strong img, main .visual .tab-child03 strong img {
  width: 126px;
  height: 126px;
  transform: translate(-10%, 150%);
  z-index: 20;
}
main .visual .tab-child01 strong:hover img, main .visual .tab-child02 strong:hover img, main .visual .tab-child03 strong:hover img {
  transform: translate(-10%, -20%);
  z-index: 20;
}
main .visual .tab-child01 strong:hover a, main .visual .tab-child02 strong:hover a, main .visual .tab-child03 strong:hover a {
  opacity: 0;
}
main .visual .circle {
  width: 120px;
  height: 120px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  box-shadow: 4px 20px 40px rgba(0, 0, 0, 0.15);
  position: absolute;
  right: 3%;
  bottom: -6%;
}
main .visual .circle img {
  padding: 15px;
}
main .news {
  width: 100%;
  padding: 160px;
  display: flex;
}
main .news .l-title {
  width: 30%;
}
main .news .l-title b {
  font-size: 20px;
}
main .news .l-title b:after {
  display: flex;
  content: "";
  border-top: 1px solid #222;
  margin: 0 30%;
  transform: translate(-20px, -13px);
}
main .news .l-title h2 {
  font-size: 56px;
}
main .news .l-title h2 span {
  color: #787878;
}
main .news .r-body {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}
main .news .r-body li {
  text-align: left;
  width: 49%;
  background-color: #f8f8f8;
  padding: 40px;
  border-radius: 20px;
  margin: 0px;
}
main .news .r-body li .category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 18px;
  color: #CA2C52;
}
main .news .r-body li .subject {
  font-size: 24px;
  color: black;
}
main .news .r-body li .descreption {
  font-size: 18px;
  font-weight: 300;
  color: black;
}
main .news .r-body li .date {
  font-size: 16px;
  font-weight: 300;
  color: black;
}
main .news .r-body li:hover {
  transform: translate(-1%, -1%);
  background-color: #fff;
  box-shadow: 4px 20px 40px rgba(0, 0, 0, 0.15);
}
main .news .r-body li:nth-child(4) {
  transform: none;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0);
  padding: 10px 0 0 0;
}
main .news .r-body li:nth-child(4) .slide {
  overflow: hidden;
}
main .news .r-body li:nth-child(4) .slide figure {
  margin: 0;
  display: flex;
  transition: 0.5s;
}
main .news .r-body li:nth-child(4) .slide figure img {
  width: 100%;
}
main .news .r-body li:nth-child(4) .ctrl-slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-left: 360px;
}
main .news .r-body li:nth-child(4) .ctrl-slide p {
  font-size: 18px;
  font-weight: 400;
}
main .news .r-body li:nth-child(4) .ctrl-slide p span {
  color: #CA2C52;
}
main .business {
  width: 100%;
  padding: 160px;
}
main .business .t-title b {
  font-size: 20px;
}
main .business .t-title b:after {
  display: flex;
  content: "";
  border-top: 1px solid #222;
  margin: 0 44%;
  transform: translate(-560px, -13px);
}
main .business .t-title h2 {
  font-size: 56px;
}
main .business .t-title h2 span {
  color: #787878;
}
main .business .bBody {
  text-align: left;
  margin: 150px 0;
}
main .business .bBody .accordion {
  width: 100%;
  margin: 50px auto;
  display: flex;
}
main .business .bBody .accordion li {
  height: 444px;
  padding: 135px 80px;
  border-radius: 20px;
  color: white;
  flex-grow: 1;
  transition: 1.5s;
}
main .business .bBody .accordion li .txt-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main .business .bBody .accordion li .txt-wrap .ver {
  font-size: 32px;
  writing-mode: vertical-lr;
}
main .business .bBody .accordion li .txt-wrap .gone {
  text-align: left;
  display: none;
  writing-mode: sideways-lr;
}
main .business .bBody .accordion li .txt-wrap .gone strong {
  font-size: 32px;
}
main .business .bBody .accordion li .txt-wrap .gone p {
  font-size: 18px;
  font-weight: 300;
  margin: 10% 0 5% 0;
}
main .business .bBody .accordion li .txt-wrap .gone button {
  width: 56px;
  height: 56px;
  background-color: #E1002A;
  border-radius: 50%;
  border: none;
}
main .business .bBody .accordion li:hover {
  flex-grow: 10;
}
main .business .bBody .accordion li:hover .txt-wrap .ver {
  display: none;
  transition: 1s;
}
main .business .bBody .accordion li:hover .txt-wrap .gone {
  display: block;
  transition: 1s;
}
main .business .bBody .accordion .pack01 {
  background-image: url("../img/index/content_business/main_section_business_slide04.png");
}
main .business .bBody .accordion .pack02 {
  background-image: url("../img/index/content_business/main_section_business_slide03.png");
}
main .business .bBody .accordion .pack03 {
  background-image: url("../img/index/content_business/main_section_business_slide02.png");
}
main .business .bBody .accordion .pack04 {
  background-image: url("../img/index/content_business/main_section_business_slide01.png");
}

/*==============================모바일480=============================================*/
@media (max-width: 480px) {
  header {
    width: 100%;
    height: 100px;
  }
  header .bot {
    display: none;
  }
  header:hover .bot {
    display: none;
  }
  header:hover {
    display: none;
  }
  header .head-top {
    display: none;
  }
  header hr {
    display: none;
  }
  header .head-area .dropdown {
    display: none;
  }
  header .head-area .logo img:nth-of-type(1) {
    display: block;
    transform: translate(-10%, 15%);
  }
  header .head-area .icon a {
    padding: 10px;
  }
  header .head-area .icon a:nth-child(3), header .head-area .icon a:nth-child(4) {
    display: none;
  }
  header .head-area .icon a:nth-child(1), header .head-area .icon a:nth-child(2) {
    display: flex;
    position: absolute;
    right: 1%;
    top: 10%;
  }
  header .head-area .icon a:nth-child(1) {
    position: absolute;
    right: 10%;
    top: 10%;
  }
  header:hover .head-top a, header:hover .head-area .dropdown a {
    display: none;
  }
  header:hover .logo img:nth-of-type(1), header:hover .head-top a img:nth-of-type(1) {
    display: flex;
  }
  header:hover .logo img:nth-of-type(2), header:hover .head-top a img:nth-of-type(2) {
    display: none;
  }
  header:hover .icon a:nth-child(1), header:hover .icon a:nth-child(2) {
    display: none;
  }
  header:hover .icon a:nth-child(3), header:hover .icon a:nth-child(4) {
    display: none;
  }
  header .head-area .dropdown a:hover {
    display: none;
  }
  header .head-area .dropdown a:hover::after {
    display: none;
  }
  main .visual {
    width: 100%;
  }
  main .visual h1 {
    width: 100%;
    left: 50%;
    top: 45%;
    font-size: 25px;
    padding-right: 3%;
  }
  main .visual .loading {
    bottom: 26%;
  }
  main .visual .tab {
    overflow: hidden;
  }
  main .visual .tab .tab-label label {
    left: -25%;
    bottom: 40%;
    font-size: 16px;
  }
  main .visual .tab .tab-wrap {
    width: 100%;
    height: 740px;
    overflow: hidden;
    position: relative;
  }
  main .visual .tab .tab-wrap .tab-wrap-more {
    display: flex;
    transition: 1s;
    margin: 0;
    width: 100%;
  }
  main .visual .tab .tab-wrap .tab-wrap-more div img {
    z-index: -1;
  }
  main .visual .tab-child01, main .visual .tab-child02 {
    left: 10%;
    bottom: 5%;
    transform: translate(0, 0);
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
  }
  main .visual .tab-child01 strong, main .visual .tab-child02 strong {
    width: 30%;
    height: 60px;
    padding-top: 0;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0.8rem;
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  main .visual .tab-child01 strong a, main .visual .tab-child02 strong a {
    font-size: 16px;
  }
  main .visual .tab-child01 strong img, main .visual .tab-child02 strong img {
    display: none;
  }
  main .visual .tab-child01 strong:hover img, main .visual .tab-child02 strong:hover img {
    display: none;
  }
  main .visual .tab-child01 strong:hover a, main .visual .tab-child02 strong:hover a {
    opacity: 1;
  }
  main .visual .tab-child03 {
    left: 10%;
    bottom: 14%;
    transform: translate(0, 0);
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
  }
  main .visual .tab-child03 strong {
    width: 30%;
    height: 60px;
    padding-top: 0;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0.8rem;
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  main .visual .tab-child03 strong a {
    font-size: 16px;
  }
  main .visual .tab-child03 strong img {
    display: none;
  }
  main .visual .tab-child03 strong:hover img {
    display: none;
  }
  main .visual .tab-child03 strong:hover a {
    opacity: 1;
  }
  main .visual .circle {
    bottom: -9%;
  }
  main .news {
    margin-top: 10%;
    padding: 10%;
    display: block;
  }
  main .news .l-title {
    width: 100%;
    margin: 10% 0;
  }
  main .news .l-title h2 {
    font-size: 30px;
  }
  main .news .l-title h2 span {
    color: #787878;
  }
  main .news .r-body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    display: block;
  }
  main .news .r-body li {
    width: 100%;
    margin: 3% 0;
  }
  main .news .r-body li .category {
    font-size: 16px;
  }
  main .news .r-body li .subject {
    font-size: 20px;
  }
  main .news .r-body li .descreption {
    font-size: 16px;
  }
  main .news .r-body li .date {
    font-size: 14px;
  }
  main .news .r-body li:hover {
    transform: translate(-1%, -1%);
    background-color: #fff;
    box-shadow: 4px 20px 40px rgba(0, 0, 0, 0.15);
  }
  main .news .r-body li:nth-child(4) {
    transform: none;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0);
  }
  main .news .r-body li:nth-child(4) .ctrl-slide {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    margin-left: 0px;
    margin: 1% 1% 0 1%;
  }
  main .business {
    width: 100%;
    padding: 10%;
    display: block;
  }
  main .business .t-title h2 {
    font-size: 30px;
  }
  main .business .bBody {
    overflow: hidden;
    margin: 0 0;
  }
  main .business .bBody .accordion {
    width: 1060px;
    margin: 5% auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  main .business .bBody .accordion li {
    width: 25%;
    height: 320px;
    padding: 0px 0px;
    margin-right: 10px;
  }
  main .business .bBody .accordion li .txt-wrap .ver {
    display: none;
  }
  main .business .bBody .accordion li .txt-wrap .gone {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 72px 18px;
  }
  main .business .bBody .accordion li .txt-wrap .gone strong {
    font-size: 21px;
  }
  main .business .bBody .accordion li .txt-wrap .gone p {
    font-size: 16px;
    margin: 10px 0;
    font-weight: 400;
  }
  main .business .bBody .accordion li:hover {
    flex-grow: 1;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  header {
    width: 100%;
    height: 100px;
  }
  header .bot {
    display: none;
  }
  header:hover .bot {
    display: none;
  }
  header:hover {
    display: none;
  }
  header .head-top {
    display: none;
  }
  header hr {
    display: none;
  }
  header .head-area .dropdown {
    display: none;
  }
  header .head-area .logo img:nth-of-type(1) {
    display: block;
    transform: translate(-10%, 15%);
  }
  header .head-area .icon a {
    padding: 10px;
  }
  header .head-area .icon a:nth-child(3), header .head-area .icon a:nth-child(4) {
    display: none;
  }
  header .head-area .icon a:nth-child(1), header .head-area .icon a:nth-child(2) {
    display: flex;
    position: absolute;
    right: 1%;
    top: 10%;
  }
  header .head-area .icon a:nth-child(1) {
    position: absolute;
    right: 10%;
    top: 10%;
  }
  header:hover .head-top a, header:hover .head-area .dropdown a {
    display: none;
  }
  header:hover .logo img:nth-of-type(1), header:hover .head-top a img:nth-of-type(1) {
    display: flex;
  }
  header:hover .logo img:nth-of-type(2), header:hover .head-top a img:nth-of-type(2) {
    display: none;
  }
  header:hover .icon a:nth-child(1), header:hover .icon a:nth-child(2) {
    display: none;
  }
  header:hover .icon a:nth-child(3), header:hover .icon a:nth-child(4) {
    display: none;
  }
  header .head-area .dropdown a:hover {
    display: none;
  }
  header .head-area .dropdown a:hover::after {
    display: none;
  }
  main .visual {
    width: 100%;
  }
  main .visual h1 {
    width: 100%;
    left: 50%;
    top: 45%;
    font-size: 25px;
    padding-right: 3%;
  }
  main .visual .loading {
    bottom: 26%;
  }
  main .visual .tab .tab-label label {
    left: -25%;
    bottom: 40%;
    font-size: 16px;
  }
  main .visual .tab .tab-wrap {
    width: 100%;
    height: 740px;
    overflow: hidden;
  }
  main .visual .tab .tab-wrap .tab-wrap-more {
    display: flex;
    transition: 1s;
    margin: 0;
    width: 100%;
  }
  main .visual .tab .tab-wrap .tab-wrap-more div img {
    z-index: -1;
  }
  main .visual .tab-child01, main .visual .tab-child02 {
    left: 10%;
    bottom: 5%;
    transform: translate(0, 0);
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
  }
  main .visual .tab-child01 strong, main .visual .tab-child02 strong {
    width: 30%;
    height: 60px;
    padding-top: 0;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0.8rem;
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  main .visual .tab-child01 strong a, main .visual .tab-child02 strong a {
    font-size: 16px;
  }
  main .visual .tab-child01 strong img, main .visual .tab-child02 strong img {
    display: none;
  }
  main .visual .tab-child01 strong:hover img, main .visual .tab-child02 strong:hover img {
    display: none;
  }
  main .visual .tab-child01 strong:hover a, main .visual .tab-child02 strong:hover a {
    opacity: 1;
  }
  main .visual .tab-child03 {
    left: 10%;
    bottom: 14%;
    transform: translate(0, 0);
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
  }
  main .visual .tab-child03 strong {
    width: 30%;
    height: 60px;
    padding-top: 0;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0.8rem;
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  main .visual .tab-child03 strong a {
    font-size: 16px;
  }
  main .visual .tab-child03 strong img {
    display: none;
  }
  main .visual .tab-child03 strong:hover img {
    display: none;
  }
  main .visual .tab-child03 strong:hover a {
    opacity: 1;
  }
  main .visual .circle {
    bottom: -9%;
  }
  main .news {
    margin-top: 5%;
    padding: 10%;
    display: block;
  }
  main .news .l-title {
    width: 100%;
    margin: 10% 0;
  }
  main .news .l-title h2 {
    font-size: 30px;
  }
  main .news .l-title h2 span {
    color: #787878;
  }
  main .news .r-body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    display: block;
  }
  main .news .r-body li {
    width: 100%;
    margin: 3% 0;
  }
  main .news .r-body li:hover {
    transform: translate(-1%, -1%);
    background-color: #fff;
    box-shadow: 4px 20px 40px rgba(0, 0, 0, 0.15);
  }
  main .news .r-body li:nth-child(4) {
    transform: none;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0);
  }
  main .news .r-body li:nth-child(4) .ctrl-slide {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    margin-left: 0px;
    margin: 1% 1% 0 1%;
  }
  main .business {
    width: 100%;
    padding: 10%;
    display: block;
  }
  main .business .t-title b {
    font-size: 20px;
  }
  main .business .t-title b:after {
    display: flex;
    content: "";
    border-top: 1px solid #222;
    margin: 0 44%;
    transform: translate(-560px, -13px);
  }
  main .business .t-title h2 {
    font-size: 30px;
  }
  main .business .t-title h2 span {
    color: #787878;
  }
  main .business .bBody {
    overflow: hidden;
    margin: 0 0;
  }
  main .business .bBody .accordion {
    margin: 5% auto;
    width: 1060px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  main .business .bBody .accordion li {
    width: 25%;
    height: 320px;
    padding: 0px 0px;
    margin-right: 10px;
  }
  main .business .bBody .accordion li .txt-wrap .ver {
    display: none;
  }
  main .business .bBody .accordion li .txt-wrap .gone {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 72px 18px;
  }
  main .business .bBody .accordion li .txt-wrap .gone strong {
    font-size: 21px;
  }
  main .business .bBody .accordion li .txt-wrap .gone p {
    font-size: 16px;
    margin: 10px 0;
    font-weight: 400;
  }
  main .business .bBody .accordion li:hover {
    flex-grow: 1;
  }
}
/*==============================태블릿768=============================================*/
@media (min-width: 768px) and (max-width: 1279px) {
  header {
    width: 100%;
    height: 100px;
  }
  header .bot {
    display: none;
  }
  header:hover .bot {
    display: none;
  }
  header:hover {
    display: none;
  }
  header .head-top {
    display: none;
  }
  header hr {
    display: none;
  }
  header .head-area .dropdown {
    display: none;
  }
  header .head-area .logo img:nth-of-type(1) {
    display: block;
    transform: translate(-10%, 15%);
  }
  header .head-area .icon a {
    padding: 10px;
  }
  header .head-area .icon a:nth-child(3), header .head-area .icon a:nth-child(4) {
    display: none;
  }
  header .head-area .icon a:nth-child(1), header .head-area .icon a:nth-child(2) {
    display: flex;
    position: absolute;
    right: 1%;
    top: 10%;
  }
  header .head-area .icon a:nth-child(1) {
    position: absolute;
    right: 10%;
    top: 10%;
  }
  header:hover .head-top a, header:hover .head-area .dropdown a {
    display: none;
  }
  header:hover .logo img:nth-of-type(1), header:hover .head-top a img:nth-of-type(1) {
    display: flex;
  }
  header:hover .logo img:nth-of-type(2), header:hover .head-top a img:nth-of-type(2) {
    display: none;
  }
  header:hover .icon a:nth-child(1), header:hover .icon a:nth-child(2) {
    display: none;
  }
  header:hover .icon a:nth-child(3), header:hover .icon a:nth-child(4) {
    display: none;
  }
  header .head-area .dropdown a:hover {
    display: none;
  }
  header .head-area .dropdown a:hover::after {
    display: none;
  }
  main .visual {
    width: 100%;
  }
  main .visual h1 {
    width: 100%;
    left: 50%;
    top: 45%;
    font-size: 2.5rem;
    padding-right: 3%;
  }
  main .visual .loading {
    bottom: 26%;
  }
  main .visual .tab .tab-label label {
    left: -13%;
    bottom: 37%;
    font-size: 16px;
  }
  main .visual .tab .tab-wrap {
    width: 100%;
    height: 740px;
    position: relative;
    overflow: hidden;
  }
  main .visual .tab .tab-wrap .tab-wrap-more {
    display: flex;
    transition: 1s;
    margin: 0;
    width: 100%;
  }
  main .visual .tab .tab-wrap .tab-wrap-more div img {
    z-index: -1;
  }
  main .visual .tab-child01, main .visual .tab-child02 {
    left: 10%;
    bottom: -15%;
    transform: translateY(-130px);
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
  }
  main .visual .tab-child01 strong, main .visual .tab-child02 strong {
    width: 30%;
    height: 60px;
    padding-top: 0;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0.8rem;
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  main .visual .tab-child01 strong a, main .visual .tab-child02 strong a {
    font-size: 16px;
  }
  main .visual .tab-child01 strong img, main .visual .tab-child02 strong img {
    display: none;
  }
  main .visual .tab-child01 strong:hover img, main .visual .tab-child02 strong:hover img {
    display: none;
  }
  main .visual .tab-child01 strong:hover a, main .visual .tab-child02 strong:hover a {
    opacity: 1;
  }
  main .visual .tab-child03 {
    left: 10%;
    bottom: -5%;
    transform: translateY(-130px);
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
  }
  main .visual .tab-child03 strong {
    width: 30%;
    height: 60px;
    padding-top: 0;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0.8rem;
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  main .visual .tab-child03 strong a {
    font-size: 16px;
  }
  main .visual .tab-child03 strong img {
    display: none;
  }
  main .visual .tab-child03 strong:hover img {
    display: none;
  }
  main .visual .tab-child03 strong:hover a {
    opacity: 1;
  }
  main .visual .circle {
    bottom: -9%;
  }
  main .news {
    margin-top: 10%;
    padding: 10%;
    display: block;
  }
  main .news .l-title {
    width: 100%;
    margin: 0% 0;
  }
  main .news .l-title b::after {
    display: none;
  }
  main .news .l-title h2 {
    font-size: 30px;
  }
  main .news .l-title h2 span {
    color: #787878;
  }
  main .news .r-body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    display: block;
  }
  main .news .r-body li {
    width: 100%;
    margin: 3% 0;
  }
  main .news .r-body li:hover {
    transform: translate(-1%, -1%);
    background-color: #fff;
    box-shadow: 4px 20px 40px rgba(0, 0, 0, 0.15);
  }
  main .news .r-body li:nth-child(4) {
    transform: none;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0);
  }
  main .news .r-body li:nth-child(4) .ctrl-slide {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    margin: 1% 1% 0 1%;
    margin-left: 200px;
  }
  main .business {
    width: 100%;
    padding: 10%;
    display: block;
  }
  main .business .t-title h2 {
    font-size: 30px;
  }
  main .business .bBody {
    overflow: hidden;
    margin: 0 0;
  }
  main .business .bBody .accordion {
    margin: 5% auto;
    width: 1060px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  main .business .bBody .accordion li {
    width: 25%;
    height: 320px;
    padding: 0px 0px;
    margin-right: 10px;
  }
  main .business .bBody .accordion li .txt-wrap .ver {
    display: none;
  }
  main .business .bBody .accordion li .txt-wrap .gone {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 72px 18px;
  }
  main .business .bBody .accordion li .txt-wrap .gone strong {
    font-size: 21px;
  }
  main .business .bBody .accordion li .txt-wrap .gone p {
    font-size: 16px;
    margin: 10px 0;
    font-weight: 400;
  }
  main .business .bBody .accordion li:hover {
    flex-grow: 1;
  }
}/*# sourceMappingURL=index.css.map */