*{ box-sizing: border-box; }
html, body{
    max-width: 1440px;
    margin: 0; padding: 0; 
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 600;
}
h1, h2, p, figure{}
ul, li, ol{list-style-type: none;}

table{}
a{}
img{}

input, textarea{}
button{}
select{}
