@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
*{ box-sizing: border-box; }
html, body{
    margin: 0; padding: 0; 
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 600;
}
h1, h2,h3,h4, p, figure{margin:0;}
ul, li, ol{list-style-type: none; margin: 0; padding: 0;}
strong{margin: 0; padding: 0; }
table{border-collapse: collapse;}
a{text-decoration: none;}
img{vertical-align: middle;}
button{margin: 0; pad: 0; border: 0;}

@mixin flex($x:space-between, $y:center){
    display: flex;
    justify-content: $x;
    align-items: $y;
    text-align: center;
    @content;
}

footer{
    background-color: #fff;
    width: 100%;
    padding: 60px;
    .f-inner{
        @include flex(space-between,flex-start){};
        .copyright{
            div{@include flex(){};
                font-size: 16px;
                width: 85%;
                text-align: left;
                font-weight: 400;
                margin: 1%;
            }
            p{
                text-align: left;
                color: #555;
                font-weight: 400;
                span{font-weight: 700; color: #222;}
            }
        }
        .familysite{
            width: 13%;
            padding: 0 5px;
            margin-bottom: 30px;
            border-bottom: 2px solid #222;
            
            @include flex(space-between,flex-start){};
            a{
                
                font-size: 16px;
                font-weight: 400; color: #222;
                text-decoration: none;
            }
            a img{width: 24px; height: 24px;}
            .pop-up{
                width: 430px; height: 660px;
                background-color: #f8f8f8;
                color: #222; box-shadow:4px 20px 40px rgba(0, 0, 0, 0.15);
                border-radius: 10px;
                position: fixed; left: 50%; top: 50%;
                transform: translate(-50%,-50%);
                @include flex(center,center){flex-direction: column};
                // display: none;
                display: flex;
                .pop-head{
                    font-size: 20px; font-weight: lighter; 
                    padding: 0 5%; width: 100%; margin: 0;
                    @include flex(){};
                }
                hr{width: 90%; margin-top: 30px; margin: 3%;}
                .pop-body{
                    height: 80%;
                    ul{
                    margin: 0; padding: 5%;
                    height: 90%;
                    @include flex(){ flex-wrap: wrap;};
                        li{
                            width: 45%; text-align: left;
                            padding: 3%; margin: 1% 2%;
                            background-color: rgba(71, 78, 99, 0.05);
                            border-radius: 20px;
                            a{
                                text-decoration: none; font-size: 16px;
                                font-weight: lighter; color: #222;
                                &::after{
                                    display: inline-block;
                                    content: '';
                                    width: 16px; height: 16px;
                                    background: url('../img/index/footer/ico_link_external.svg');
                                    margin-left: 2%;
                                }
                            }
                            .s{font-size: 15px;}
                        }
                    }
                }
            }//end pop-up
        }
        .familysite .pop-backg{
            position: fixed;
            top:0; left: 0; 
            width: 100%; height: 100vh;
            background: rgba(0, 0, 0, 0.8);
            justify-content: center; align-items: center;
            display: none;
        }
        .familysite.active .pop-backg{display: flex;}
    } 
    .page_up{
        border-radius: 50%;
        background-color: #aaa;
        padding: 1%;
        text-align: center;
        position: fixed; right: 3%; bottom: 6%;
        transition: .5s;
        &:hover{background-color: #555;}
        img{width: 24px; height: 24px;}
    }
}//end footer

/*==============================모바일480=============================================*/
@media (max-width: 480px) {
    footer{
        background-color: #fff;
        width: 100%;
        padding: 0px;
        .f-inner{
            display: block;
            .copyright{
                .forMobile{
                    flex-wrap: wrap;
                    a img{margin-left: 15px;}
                    div{
                        width: 100%;
                        flex-wrap: wrap; justify-content: flex-start;
                        font-size: 15px ;
                        text-align: left;
                        font-weight: 400;
                        padding: 10px;
                        a{padding: 5px 10px;}
                    }
                }
                p{
                    text-align: left;
                    color: #555;
                    font-weight: 400;
                    font-size: 15px ;
                    line-height: 30px;
                    span{font-weight: 700; color: #222;}
                    padding: 15px;
                }
            }
            .familysite{
                width: 37%;
                padding: 0 5px;
                margin-left: 10px;
                margin-bottom: 30px;
                border-bottom: 2px solid #222;
            }
        } 
        .page_up{
            padding: 3%;
        }
    }//end m-footer
} 
@media (min-width: 481px) and (max-width: 767px){
    footer{
        background-color: #fff;
        width: 100%;
        padding: 0px;
        .f-inner{
            display: block;
            .copyright{
                .forMobile{
                    flex-wrap: wrap;
                    a img{margin-left: 15px;}
                    div{
                        width: 100%;
                        flex-wrap: wrap; justify-content: flex-start;
                        font-size: 15px ;
                        text-align: left;
                        font-weight: 400;
                        padding: 10px;
                        a{padding: 5px 10px;}
                    }
                }
                p{
                    text-align: left;
                    color: #555;
                    font-weight: 400;
                    font-size: 15px ;
                    line-height: 30px;
                    span{font-weight: 700; color: #222;}
                    padding: 15px;
                }
            }
            .familysite{
                width: 37%;
                padding: 0 5px;
                margin-left: 10px;
                margin-bottom: 30px;
                border-bottom: 2px solid #222;
            }
        } 
        .page_up{
            padding: 3%;
        }
    }//end m-footer
} 
/*==============================태블릿768=============================================*/
@media (min-width: 768px) and (max-width: 1279px){
    
    footer{
        background-color: #fff;
        width: 100%;
        padding: 0px;
        .f-inner{
            display: block;
            .copyright{
                .forMobile{
                    flex-wrap: wrap;
                    a img{margin-left: 15px;}
                    div{
                        width: 100%;
                        flex-wrap: wrap; justify-content: flex-start;
                        font-size: 15px ;
                        text-align: left;
                        font-weight: 400;
                        padding: 10px;
                        a{padding: 5px 10px;}
                    }
                }
                p{
                    text-align: left;
                    color: #555;
                    font-weight: 400;
                    font-size: 15px ;
                    line-height: 30px;
                    span{font-weight: 700; color: #222;}
                    padding: 15px;
                }
            }
            .familysite{
                width: 37%;
                padding: 0 5px;
                margin-left: 10px;
                margin-bottom: 30px;
                border-bottom: 2px solid #222;
            }
        } 
        .page_up{
            padding: 3%;
        }
    }//end m-footer
    
} 
