@import "_reset";

header{
    position: absolute; left: 0; top: 0;
    width: 100%;
    z-index: 2;
    transition: 0.5s;
    .bot{margin: 0px; display: none;}
    &:hover .bot{display: block;}
    &:hover{
        background-color: #fff; z-index: 1;
    }
    .head-top{
        width: 100%;
        padding: 0 5%;
        @include flex(){ width: 60% };
        a{ 
            font-size: 14px; 
            color: #fff;
            text-decoration: none;
            padding: 10px 0;
            font-weight: 600;
            opacity: 0.9;
        }
        a img:nth-child(1){display: block;};
        a img:nth-child(2){display: none;};
    }
    hr{width: 100%;}
    .head-area{
        padding: 0 5%;
        @include flex(){};
        .logo{ 
            display: flex;
            flex-grow: 2; left: 0;
            img:nth-of-type(1){display: block;}
            img:nth-of-type(2){display: none;}
        }
        .dropdown{@include flex(){flex-grow: 6; };
            a{
                font-size: 18px; 
                color: #fff;
                text-decoration: none;
                left: 50%;
                padding: 28px 40px;
                border-bottom: 2px solid transparent;
            }
        }
        .icon{ flex-grow: 1; text-align: right; z-index: 2;
            a{padding: 10px;}
            a:nth-child(1),a:nth-child(2){display: inline-block;}
            a:nth-child(3),a:nth-child(4){display: none;}
        }
    }
    &:hover .head-top a, &:hover .head-area .dropdown a{
        color: #222;
    }
    &:hover .logo, &:hover .head-top a{
        img:nth-of-type(1){display: none;}
        img:nth-of-type(2){display: block;}
    }
    &:hover .icon{
        a:nth-child(1),a:nth-child(2){display: none;}
        a:nth-child(3),a:nth-child(4){display: inline-block;}
    }
    .head-area .dropdown a:hover{
        color:#CA2C52; transition: .5s;
        border-bottom: 2px solid #CA2C52;
    }
    .head-area .dropdown a:hover::after{border-bottom: 2px solid #CA2C52;}
}//end header
main{
    .visual{
        h1{
            z-index: 10;
            position: absolute;
            left:45%; top: 35%;
            color: #fff;
            font-size: 4.5rem;
            text-align: right;
        }
        .loading{
            z-index: 10;
            width: 85%; height: 220px;
            position: absolute; left: 50%; bottom: 0%;
            transform: translate(-50%, -50%);
            @include flex(center,){flex-direction: column;};
            .progress_bar{
                width: 100%; height: 1px;
                background-color: #eee;
                opacity: 0.9;
                position: relative;
                .progress_gauge{
                    position: absolute; left: 0; top: -2px;
                    height: 5px; 
                    background-color: #fff;

                    animation-name: loading-bar;
                    animation-duration: 5s;
                    animation-iteration-count: infinite;
                    animation-timing-function: ease-out;
                }
                @keyframes loading-bar {
                    0%{width: 0;}
                    100%{width: 100%;}
                }
            }
        }
        .tab{
            .tab-label{
                label{
                    display: inline-block;
                    padding: 10px 20px;
                    z-index: 10;
                    position: absolute;
                    
                    left: 0; bottom: 25%;
                    transform: translateX(150px);
                    font-size: 18px; color: #fff; font-weight: lighter;
                }
                label:nth-of-type(2){transform: translateX(300px);}
                label:nth-of-type(3){transform: translateX(450px);}

                label:hover::after{
                    display: inline-block;
                    content: '';
                    width: 15px; height: 15px;
                    background-color: #CA2C52;
                    border-radius: 50%;
                    transform: translateY(-15px);
                }
            }
            .tab-wrap{
                width: 100%; height: 969px;
                overflow: hidden;
                .tab-wrap-more{
                    display: flex; transition: 1s; margin: 0; width: 100%;
                    div{img{z-index: -1;}}
                }
            }
            input:nth-of-type(1):checked ~.tab-wrap > .tab-wrap-more{
                transform: translateX(0%);
            }
            input:nth-of-type(2):checked ~.tab-wrap > .tab-wrap-more{
                transform: translateX(-101%);
            }
            input:nth-of-type(3):checked ~.tab-wrap > .tab-wrap-more{
                transform: translateX(-202%);
            }
            input{display: none;}
            // input:checked ~tab-label{
            //     label{
            //         display: inline-block;
            //         content: '';
            //         width: 15px; height: 15px;
            //         background-color: #CA2C52;
            //         border-radius: 50%;
            //     }
            // }
                
        }//end tab
        .tab-child01{
            position: absolute; left: 50%; bottom: -3%;
            transform: translate(-50%, 0);
            width: 80%;
            text-align: center;
            @include flex(){};
            strong{ 
                padding-top: 55px;
                overflow: hidden;
                a{  
                    color: #fff;
                    font-size: 20px;
                    text-decoration: none;
                }
                img{
                    width: 126px; height: 126px;
                    transform: translateY(150px); 
                    z-index: 1;
                }
                &:hover img{transform: translateY(-80px); transition: .5s;}
            }
        }
        .tab-child02{
            position: absolute; left: 50%; bottom: -3%;
            transform: translate(75%, 0);
            width: 80%;
            text-align: center;
            @include flex(){};
            strong{ 
                padding-top: 55px;
                overflow: hidden;
                a{  
                    color: #fff;
                    font-size: 20px;
                    text-decoration: none;
                }
                img{
                    width: 126px; height: 126px;
                    transform: translateY(150px); 
                    z-index: 1;
                }
                &:hover img{transform: translateY(-80px); transition: .5s;}
            }
        }
        .tab-child03{
            position: absolute; left: 50%; bottom: -3%;
            transform: translate(203%, 0);
            width: 80%;
            text-align: center;
            @include flex(){};
            strong{ 
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 60px;
                overflow: hidden;
                a{  
                    color: #fff;
                    font-size: 20px;
                    text-decoration: none;
                    z-index: -1;
                }
                img{
                    width: 126px; height: 126px;
                    transform: translateY(150px); 
                    z-index: 10;
                }
                &:hover img{transform: translateY(-80px); transition: .5s;}
            }
        }
        .circle{ 
            width: 120px; height: 120px;
            border: 1px solid #ddd;
            background-color: #fff;
            border-radius: 50%;
            text-align: center;
            box-shadow:4px 20px 40px rgba(0, 0, 0, 0.15);
            position: absolute; right: 3%; bottom: -6%;
            img{
            // width: 100%;
            padding: 15px;
            }
        }
    }//end visual
    .news{
        width: 100%;
        padding: 160px;
        display: flex;
        .l-title{
            width: 30%;
            b{font-size: 20px;
                &:after{
                    display: flex;
                    content: '';
                    border-top: 1px solid #222;
                    margin: 0 30%;
                    transform: translate(-20px, -13px);
                }
            }
            h2{
                font-size: 56px;
                span{color:#787878}
            }
        }
        .r-body{
            width: 70%;
            @include flex(){flex-wrap: wrap};
            li{
                text-align: left;
                width:49%;
                background-color: #f8f8f8;
                padding: 40px;
                border-radius: 20px;
                margin: 0px;
                .category{@include flex(){}; font-size: 18px; color:#CA2C52}
                .subject{font-size: 24px; }
                .descreption{font-size: 18px; font-weight:300; }
                .date{font-size: 16px; font-weight:300;}
                &:hover{
                    transform: translate(-1%,-1%); 
                    background-color: #fff;
                    box-shadow:4px 20px 40px rgba(0, 0, 0, 0.15);
                }
            }
            li:nth-child(4){
                transform: none;
                box-shadow:none;
                background-color:rgba(0, 0, 0, 0);
                padding: 10px 0 0 0;
                img{width: 100%}
                .ctrl-slide{ 
                    @include flex(){}; 
                    margin-left: 360px;
                    p{
                        font-size: 18px;
                        font-weight: 400;
                        span{color: #CA2C52;}
                    }
                    
                }
            }
        }
    }//end news
    .business{
        width: 100%;
        padding: 160px;
        .t-title{
            b{font-size: 20px;
                &:after{
                    display: flex;
                    content: '';
                    border-top: 1px solid #222;
                    margin: 0 44%;
                    transform: translate(-560px, -13px);
                }
            }
            h2{
                font-size: 56px;
                span{color:#787878}
            }
        }
        .b-body{
            text-align: left;
            margin:150px 0;
            .accordion{
                width: 100%;
                margin: 50px auto;
                display: flex;
                li{
                    // width: 1198px; 
                    height: 444px;
                    padding: 135px 80px;                    
                    border-radius: 20px;
                    color: white;
                    flex-grow: 1;
                    transition: 1.5s;
                    .txt-wrap{
                        @include flex(center,);
                        .ver{font-size: 32px;  writing-mode: vertical-lr;}
                        .gone{
                            text-align: left;
                            display: none;
                            writing-mode: sideways-lr;
                            strong{font-size: 32px;}
                            p{font-size: 18px; font-weight: 300; margin: 10% 0 5% 0 ;}
                            button{
                                width: 56px; height: 56px;
                                background-color: #E1002A;
                                border-radius: 50%;
                                border:none;
                            }
                        }
                    }
                }
                li:hover{flex-grow: 10;}
                li:hover .txt-wrap .ver{display: none; transition: 1s;}
                li:hover .txt-wrap .gone{display: block; transition: 1s;}
                .pack01{background-image: url('../img/index/content_business/main_section_business_slide04.png');}
                .pack02{background-image: url('../img/index/content_business/main_section_business_slide03.png');}
                .pack03{background-image: url('../img/index/content_business/main_section_business_slide02.png');}
                .pack04{background-image: url('../img/index/content_business/main_section_business_slide01.png');}
            }
        }
    }//end business
}//end main