@import "./reset";

@mixin flex($x:space-between, $y:center){
    display: flex;
    justify-content: $x;
    align-items: $y;
    text-align: center;
    @content;
    }
    
    header{
        width: 100%;
        z-index: 13;;
        .bot{margin: 0px; display: block;}
        &:hover{
            background-color: #fff; z-index: 1;
        }
        .head-top{
            
            width: 100%;
            padding: 0 5%;
            @include flex(){ width: 60% };
            a{ 
                font-size: 14px; 
                color: #222;
                text-decoration: none;
                padding: 10px 0;
                font-weight: 600;
                opacity: 0.9;
            }
            a img:nth-child(1){display: block;};
        }
        hr{width: 100%;}
        .head-area{
            height: 50%;
            padding: 0 5%;
            @include flex(center, center){};
            .logo{  flex-grow: 1;   }
            .dropdown{
                @include flex(space-evenly,flex-start){flex-grow: 8; };
                div{@include flex(){flex-direction: column};
                position: relative;
                    .gnb{
                        font-size: 18px; 
                        color: #222;
                        text-decoration: none;
                        left: 50%;
                        padding: 28px 40px;
                        border-bottom: 2px solid transparent;
                    }
                    .skip{
                        display: none; 
                        position: absolute; top: 100%;
                        margin-top: 10px; font-weight: 300;
                        z-index: 12;
                        li { 
                            display: flex; justify-content: center;
                            a{padding: 5px 0; color: #222;}
                            .act{
                                font-weight: 500;
                                &:hover{color:#CA2C52;transition: .5s;}
                            }
                        }
                    }
                }
            }
            .icon{ flex-grow: 1; text-align: right; z-index: 2; 
                a{padding: 10px;}
            }
        }
        .head-area .dropdown .gnb:hover{
            color:#CA2C52; transition: .5s;
            border-bottom: 2px solid #CA2C52;
        }
        .head-area .dropdown .gnb:hover::after{border-bottom: 2px solid #CA2C52;}
        
        .hoverBox{width: 100%; height: 0px; 
            position: absolute; top: 16%; left: 0;
            background-color: transparent; 
            z-index: 13 !important;
            transition: .5s;
        }
        &:hover .hoverBox{
            background-color: #fff; z-index: 1; height: 200px;
            display: block; }
        &:hover .head-area .dropdown div .skip{display: block; z-index: 20;}
    }//end header
    .hbShadow{width: 100%; height: 100vh; 
        background-color: rgb(0, 0, 0,0.6); position: absolute; top: 16%; left: 0;
        z-index: 10 !important;
        display: none;
    }
    .hbShadow.active{display: block;}

main{
    .sub-inner{
        width: 70%;
        margin: 5% auto;
        .sub-head{
            .head-title{
                h1{font-size: 48px; color: #222;}
            }
            .head-nav{
                width: 100%; height: 64px;
                @include flex(){};
                margin-top: 40px;
                background-color: #4A5677;
                border-radius: 10px;
                .nav-left{
                    @include flex(){};
                    width: 40%;
                    li{ 
                        &:hover{text-decoration: 2px underline; color:white;}
                        position: relative;
                        width: 100%;
                        height: 64px;
                        border-right: 2px solid rgb(255, 255, 255, 0.2);
                        @include flex(space-around,){};
                        &:nth-of-type(1){width: 40%; @include flex(center, center){};}                        a{  
                            font-size: 18px; font-weight: 400;
                            text-decoration: none;color: #fff;
                        }
                        button{background-color: transparent;}
                        a{display: block;}
                        .subNav-drop{
                            position: absolute; left: 0; top: 100%;
                            width: 100%;
                            display: none;
                            z-index: 10;
                            a{
                                display: block;
                                background-color: #232939;
                                padding: 1rem 1.2rem; text-align: left;
                                color: #fff; 
                                width: 100%; height: 64px;
                                &:hover{text-decoration: 2px underline; color:white;}
                            }
                        }
                    }
                }
                .nav-right{
                    @include flex(flex-end,center){};
                    width: 13%;
                    li{
                        a{@include flex(space-evenly,){};
                            width: 80px; height: 40px;
                        }
                        background-color: #CA2C52;
                        padding: 7%;
                        &:nth-child(1){
                            border-right: 2px solid rgb(255, 255, 255, 0.2);
                            border-top-left-radius: 50px;
                            border-bottom-left-radius: 50px;
                        }
                        &:nth-child(2){
                            border-top-right-radius: 10px;
                            border-bottom-right-radius: 10px;
                        }
                    }
                }
            }
            .head-subject{h2{font-size: 36px; color: #4A5677;margin: 40px 0;}}
        }
        .sub-body{
            table{
                border-collapse: collapse;
                width: 100%; 
                font-size: 18px; font-weight: 400;
                color: #555;
                th,td{
                    border-bottom: 1px solid #ddd;
                    padding: 30px 10px; 
                    text-align: center;
                }
                thead tr{border-top: 3px solid #003568;}
                
                thead tr th:nth-of-type(1){
                    font-size: 24px; font-weight: 600;
                    color: #222; text-align: left;
                }
                thead tr th:nth-of-type(2){
                    font-size: 18px; font-weight: 400;
                    color: #444; text-align: right;
                }
                tbody tr .tel{text-align: left; font-size: 16px;}
                tbody tr .content{
                    font-size: 14px;
                    b{text-align: center;}
                    p{
                    text-align: left;
                    span{font-weight: bolder;}}
                }
                tfoot tr td img{margin: 1px 5px;}
                tfoot tr td p{
                    font-weight: 300; font-size: 18px;
                    color: #555;
                }
                tfoot tr td a{
                    padding: 4px 10px; border: 1px solid #555;
                    margin: 0 10px; font-size: 16px; font-weight: bolder;
                }
                tfoot tr td a:nth-of-type(1){background-color: #fff; color:#4A5677;}
                tfoot tr td a:nth-of-type(2){background-color: #4A5677; color: #fff}
                tfoot tr td{
                    border-bottom:none;
                    div {@include flex(){};}
                    div:nth-child(1){@include flex(flex-start,flex-start){};}
                    div:nth-child(2){@include flex(flex-end,flex-end){};}
                }
            }
            .goback{
                display: flex; justify-content: right;
                margin-bottom: 50px;
                margin-top: 10px;
                a{
                    display: inline-block;
                    color: #333;
                    background-color: #fff;
                    border: 1px solid #4A5677;
                    margin: 0;
                    padding: 13px 40px;
                    font-size: 16px;
                    font-weight: 500;
                    text-align: center;
                }
            }
            .manager{
                @include flex(){};
                margin: 10px 0;
                padding: 24px;
                border: 1px solid #ddd;
                border-radius: 8px;
                li{ font-size: 18px; font-weight: 300;
                    
                    strong{font-weight: 500;}
                &:nth-of-type(2){flex-grow: 2; text-align: left; margin-left: 50px;}
                }
            
            }
        }
        .sub-foot{
            .user-satisfy{
                width: 100%;
                border-radius: 15px;
                padding: 24px;
                background-color: #F2F4F7;;
                h3{ @include flex(flex-start,){};
                    p img{}
                }
                .radio-five{
                    width: 100%;
                    padding: 20px 0; 
                    display: flex;
                    input{display: none;}
                    label{
                        margin-right: 7px;
                        display: inline-block;
                        height: 25px;
                        fill: none;
                        // background-color: red;
                        background: url('../img/sub/sub_default/form_radio_default.svg') no-repeat 0 0px / contain;
                        margin: 0 10px;
                        span{
                            margin-left: 25px;
                            text-align: center;
                            font-size: 18px; font-weight: 400;
                        }
                    }
                    input:checked +label{
                        background: url('../img/sub/sub_default/form_radio_checked.svg') no-repeat 0 0px / contain;
                    }
                }
                .answer-submit{
                    @include flex(){};
                    textarea{width: 90%; height: 100px;}
                    button{
                        width: 110px; height: 100px;
                        padding: 13px 22px;
                        background-color: #4A5677;
                        color: #fff;
                        border: 1px;
                        font-size: 16px; font-weight: 600;
                        &:hover{background-color: #232939;}
                    }
                }
            }   
        }//end sub-foot
    }//end sub-inner
}//end main
//============================모바일480======================================
@media (min-width: 320px) and (max-width: 480px) {
    header{display: none;}
    .mobile_header{
        position: absolute; left: 0; top: 0;
        width: 100%;
        z-index: 2;
        .mHead{
            padding: 0 0 0 5%;
            @include flex(space-between,flex-end){};
            .mLogo{display: block; transform: translate(-10%, 15%);}
            .mIcon {
                display: flex; justify-content: flex-end;
                width: 20%;
                a{ padding: 0 5%;}
            }
        }
    }
    main{
        .sub-inner{
            width: 90%;
            
            .sub-head{
                .head-title{
                    h1{ width: 85%; margin: 5% auto;
                        font-size: 2rem; transform: translateY(150%);}
                }
                .head-nav{
                    height: 20%; transform: translateY(-150%);
                    border-radius: 0px;
                    .nav-left{
                        width: 70%;
                        @include flex(){};
                        li{ 
                            border:none;
                            @include flex(flex-start,center){};
                            &:nth-of-type(1){width: 45%;}
                            a{ font-size: 1rem;}
                            button{transform: rotate(-90deg); }
                        }
                    }
                    .nav-right{display: none; }
                }
                .head-subject{h2{font-size: 2rem; 
                    width: 85%; margin: 3% auto;
                }}
            }
            .sub-body{
                table{
                    thead tr{
                        display: flex; flex-direction: column;
                        th:nth-child(1){
                            border-bottom: none ;
                            padding-bottom: 0;
                        }
                        th:nth-child(2){padding: 10px;}
                    }
                    tfoot tr td{
                        border-bottom: none;
                        div{margin-top: 5%;}
                        div:nth-child(2){ width: 100%;
                            display: flex; justify-content: center;
                            a{ padding: 1% 10%;}
                            }
                        p{font-size: 1rem;}
                        }
                }
                .manager{
                    font-size: smaller;
                    @include flex(){flex-wrap: wrap;};
                    margin: 10px 0;
                    padding: 24px;
                    border: 1px solid #ddd;
                    border-radius: 8px;
                    li{ font-size: 18px; font-weight: 200;
                        strong{font-weight: 400;}
                    &:nth-of-type(2){flex-grow: 2; text-align: left; margin-left: 50px;}
                    }
                }
            }
            .sub-foot{
                .user-satisfy{
                    width: 95%; margin: 0 auto;
                    h3{ font-size: 1rem; color: #4A5677;}
                    .radio-five{ flex-wrap: wrap;
                        label{
                            width: 30%;
                            span{ font-size: 1rem; }
                        }
                    }
                    .answer-submit{
                        @include flex(){flex-direction: column};
                        textarea{width: 90%; }
                        button{width: 90%; height: 50px;}
                        }
                }   
            }//end sub-foot
        }//end sub-inner
    }//end main
}//end 모바일480

@media (min-width: 481px) and (max-width: 767px){
    header{display: none;}
    .mobile_header{
        position: absolute; left: 0; top: 0;
        width: 100%;
        z-index: 2;
        .mHead{
            padding: 0 0 0 5%;
            @include flex(space-between,flex-end){};
            .mLogo{display: block; transform: translate(-10%, 15%);}
            .mIcon {
                display: flex; justify-content: flex-end;
                width: 20%;
                a{ padding: 0 5%;}
            }
        }
    }
    main{
        .sub-inner{
            width: 90%;
            
            .sub-head{
                .head-title{
                    h1{ width: 85%; margin: 5% auto;
                        font-size: 2rem; transform: translateY(150%);}
                }
                .head-nav{
                    height: 20%; transform: translateY(-150%);
                    border-radius: 0px;
                    .nav-left{
                        width: 70%;
                        @include flex(){};
                        li{ 
                            border:none;
                            @include flex(flex-start,center){};
                            &:nth-of-type(1){width: 45%;}
                            a{ font-size: 1rem;}
                            button{transform: rotate(-90deg); }
                        }
                    }
                    .nav-right{display: none; }
                }
                .head-subject{h2{font-size: 2rem; 
                    width: 85%; margin: 3% auto;
                }}
            }
            
            .sub-foot{
                .user-satisfy{
                    width: 95%; margin: 0 auto;
                    h3{ font-size: 1rem; color: #4A5677;}
                    .radio-five{ flex-wrap: wrap;
                        label{
                            width: 30%;
                            span{ font-size: 1rem; }
                        }
                    }
                    .answer-submit{
                        @include flex(){flex-direction: column};
                        textarea{width: 90%; }
                        button{width: 90%; height: 50px;}
                        }
                }   
            }//end sub-foot
        }//end sub-inner
    }//end main
} 
/*==============================태블릿768=============================================*/
@media (min-width: 768px) and (max-width: 1279px){
    header{display: none;}
    .mobile_header{
        position: absolute; left: 0; top: 0;
        width: 100%;
        z-index: 2;
        .mHead{
            padding: 0 0 0 5%;
            @include flex(space-between,flex-end){};
            .mLogo{display: block; transform: translate(-10%, 15%);}
            .mIcon {
                display: flex; justify-content: flex-end;
                width: 20%;
                a{ padding: 0 5%;}
            }
        }
    }
    main{
        .sub-inner{
            width: 90%;
            
            .sub-head{
                .head-title{
                    h1{ width: 85%; margin: 5% auto;
                        font-size: 2rem; transform: translateY(150%);}
                }
                .head-nav{
                    height: 20%; transform: translateY(-150%);
                    border-radius: 0px;
                    .nav-left{
                        width: 70%;
                        @include flex(){};
                        li{ 
                            border:none;
                            @include flex(flex-start,center){};
                            &:nth-of-type(1){width: 45%;}
                            a{ font-size: 1rem;}
                            button{transform: rotate(-90deg); }
                        }
                    }
                    .nav-right{display: none; }
                }
                .head-subject{h2{font-size: 2rem; 
                    width: 85%; margin: 3% auto;
                }}
            }
            

            .sub-foot{
                .user-satisfy{width: 95%; margin: 0 auto;}   
                .answer-submit{button{font-size: 0.8rem;}}
            }//end sub-foot
        }//end sub-inner
    }//end main
}//end 태블릿
/*==============================PC이상============================================*/
@media (min-width: 1280px){.mobile_header{display: none;}}