@import "_reset";

@mixin flex($x:space-between, $y:center){
    display: flex;
    justify-content: $x;
    align-items: $y;
    text-align: center;
    @content;
    }
    
header{
    position: absolute; left: 0; top: 0;
    width: 100%;
    z-index: 2;
    transition: 0.5s;
    background-color: #fff;
    .bot{margin: 0px;}
    .head-top{
        width: 100%;
        padding: 0 5%;
        @include flex(){ width: 60% };
        a{ 
            font-size: 14px; 
            color: #222;
            text-decoration: none;
            padding: 10px 0;
        }
    }
    hr{width: 100%;}
    .head-area{
        padding: 0 5%;
        @include flex(){};
        .logo{ 
            display: flex;
            flex-grow: 2; left: 0;
        }
        .dropdown{@include flex(){flex-grow: 6; };
            a{
                font-size: 18px; 
                color: #222;
                text-decoration: none;
                left: 50%;
                padding: 28px 40px;
            }
        }
        .icon{ flex-grow: 1; text-align: right; z-index: 2;
            a{padding: 10px;}
        }
    }
    .head-area .dropdown a:hover{
        color:#CA2C52; transition: .5s;
        border-bottom: 2px solid #CA2C52;
    }
    .head-area .dropdown a:hover::after{border-bottom: 2px solid #CA2C52;}
}//end header
footer{
    background-color: #fff;
    width: 100%;
    padding: 60px;
    .f-inner{
        @include flex(space-between,flex-start){};
        .copyright{
            div{@include flex(){};
            font-size: 16px ;
                width: 85%;
                text-align: left;
                font-weight: 400;
            }
            p{
                text-align: left;
                color: #555;
                font-weight: 400;
                span{font-weight: 700; color: #222;}
            }
        }
        .familysite{
            width: 13%;
            margin-bottom: 30px;
            border-bottom: 2px solid #222;
            @include flex(space-between,flex-start){};
            a{
                
                font-size: 16px;
                font-weight: 400; color: #222;
                text-decoration: none;
            }
            a img{width: 24px; height: 24px;}
            .pop-up{
                width: 430px; height: 660px;
                background-color: #f8f8f8;
                color: #222; box-shadow:4px 20px 40px rgba(0, 0, 0, 0.15);
                border-radius: 3%;
                position: fixed; left: 50%; top: 50%;
                transform: translate(-50%,-50%);
                display: none;
                .pop-head{
                    font-size: 20px; font-weight: lighter; 
                    padding: 0 3%;
                    @include flex(){};
                }
                .pop-body{
                    height: 80%;
                    ul{
                    margin: 0; padding: 5%;
                    height: 90%;
                    @include flex(){ flex-wrap: wrap;};
                        li{
                            width: 45%; text-align: left;
                            padding: 3%; margin: 1% 2%;
                            background-color: rgba(71, 78, 99, 0.05);
                            border-radius: 5%;
                            a{
                                text-decoration: none; font-size: 16px;
                                font-weight: lighter; color: #222;
                                &::after{
                                    display: inline-block;
                                    content: '';
                                    width: 16px; height: 16px;
                                    // border: 1px solid red;
                                    background: url('../img/index/footer/ico_link_external.svg');
                                    margin-left: 2%;
                                }
                            }
                            .s{font-size: 15px;}
                        }
                    }
                }
            }//end pop-up
        }
        .familysite:hover .pop-up{display: block;}
    }   
    .page_up{
        border-radius: 50%;
        background-color: #aaa;
        padding: 1%;
        text-align: center;
        position: fixed; right: 3%; bottom: 6%;
        transition: .5s;
        &:hover{background-color: #555;}
        img{width: 24px; height: 24px;}
    }
}//end footer


main{
    height: 1000px;  
}//end main

