@import "./reset";

@mixin flex($x:space-between, $y:center){
    display: flex;
    justify-content: $x;
    align-items: $y;
    text-align: center;
    @content;
    }
header{
    width: 100%;
    z-index: 2;
    transition: 0.5s;
    background-color: #fff;
    .bot{margin: 0px;}
    .head-top{
        width: 100%;
        padding: 0 5%;
        @include flex(){ width: 60% };
        a{ 
            font-size: 14px; 
            color: #222;
            text-decoration: none;
            padding: 10px 0;
        }
    }
    hr{width: 100%;}
    .head-area{
        padding: 0 5%;
        @include flex(){};
        .logo{ 
            display: flex;
            flex-grow: 2; left: 0;
        }
        .dropdown{@include flex(){flex-grow: 6; };
            a{
                font-size: 18px; 
                color: #222;
                text-decoration: none;
                left: 50%;
                padding: 28px 40px;
                border-bottom: 2px solid transparent;
            }
        }
        .icon{ flex-grow: 1; text-align: right; z-index: 2;
            a{padding: 10px;}
        }
    }
    .head-area .dropdown a:hover{
        color:#CA2C52; transition: .5s;
        border-bottom: 2px solid #CA2C52;
    }
    
}//end header

main{
    .sub-inner{
        width: 70%;
        margin: 5% auto;
        .sub-head{
            .head-title{
                h1{font-size: 48px; color: #222;}
            }
            .head-nav{
                width: 100%; height: 64px;
                @include flex(){};
                margin-top: 40px;
                background-color: #4A5677;
                overflow: hidden;
                border-radius: 10px;
                .nav-left{
                    @include flex(){};
                    width: 40%;
                    li{ 
                        width: 100%;
                        height: 64px;
                        border-right: 2px solid rgb(255, 255, 255, 0.2);
                        @include flex(space-around,){};
                        &:nth-of-type(1){width: 40%; @include flex(center, center){};}                        a{  
                            font-size: 18px; font-weight: 400;
                            text-decoration: none;color: #fff;
                        }
                        button{background-color: transparent;}

                    }
                }
                .nav-right{
                    @include flex(center,){};
                    width: 15%;
                    li{
                        a{@include flex(space-evenly,){};
                            width: 80px; height: 40px;
                        }
                        background-color: #CA2C52;
                        padding: 7%;
                        &:nth-child(1){
                            border-right: 2px solid rgb(255, 255, 255, 0.2);
                            border-top-left-radius: 50px;
                            border-bottom-left-radius: 50px;
                        }
                    }
                }
            }
            .head-subject{h2{font-size: 36px; color: #4A5677;margin: 40px 0;}}
        }
        .sub-body{
            table{
                border-collapse: collapse;
                width: 100%; 
                font-size: 18px; font-weight: 400;
                color: #555;
                th,td{
                    border-bottom: 1px solid #ddd;
                    padding: 30px 10px; 
                    text-align: center;
                }
                thead tr{border-top: 2px solid #003568; background-color: #F4F4F4;}
                tbody tr td:nth-of-type(2){
                    font-weight: 600; color: #191919; 
                    text-align: left; cursor: pointer;
                    a{text-decoration: none;color: #191919;}
                }
                tfoot td{padding: 50px 0; border: none;}
                tfoot td a{margin: 0 10px;}
            }
            .manager{
                @include flex(){};
                margin: 10px 0;
                padding: 24px;
                border: 1px solid #ddd;
                border-radius: 8px;
                li{ font-size: 18px; font-weight: 300;
                    
                    strong{font-weight: 500;}
                &:nth-of-type(2){flex-grow: 2; text-align: left; margin-left: 50px;}
                }
            
            }
        }
        .sub-foot{
            .user-satisfy{
                width: 100%;
                border-radius: 15px;
                padding: 24px;
                background-color: #F2F4F7;;
                h3{ @include flex(flex-start,){};
                    p img{}
                }
                .radio-five{
                    width: 100%;
                    padding: 20px 0; 
                    display: flex;
                    input{display: none;}
                    label{
                        margin-right: 7px;
                        display: inline-block;
                        height: 25px;
                        fill: none;
                        // background-color: red;
                        background: url('../img/sub/sub_default/form_radio_default.svg') no-repeat 0 0px / contain;
                        margin: 0 10px;
                        span{
                            margin-left: 25px;
                            text-align: center;
                            font-size: 18px; font-weight: 400;
                        }
                    }
                    input:checked +label{
                        background: url('../img/sub/sub_default/form_radio_checked.svg') no-repeat 0 0px / contain;
                    }
                }
                .answer-submit{
                    @include flex(){};
                    textarea{width: 90%; height: 100px;}
                    button{
                        width: 110px; height: 100px;
                        padding: 13px 22px;
                        background-color: #4A5677;
                        color: #fff;
                        border: 1px;
                        font-size: 16px; font-weight: 600;
                        &:hover{background-color: #232939;}
                    }
                }
            }   
        }//end sub-foot
    }//end sub-inner
}//end main

/*==============================모바일480=============================================*/
@media (min-width: 320px) and (max-width: 480px) {
    header{
        .head-top{display: none;}
        hr{display: none;}
        .head-area{
            padding: 5% 5%;
            .dropdown{ display: none;   }
        }
        .head-area .dropdown a:hover{ display: none; }
    }//end header
    main{
        .sub-inner{
            width: 90%;
            
            .sub-head{
                .head-title{
                    h1{ width: 85%; margin: 5% auto;
                        font-size: 2rem; transform: translateY(150%);}
                }
                .head-nav{
                    height: 20%; transform: translateY(-200%);
                    border-radius: 0px;
                    .nav-left{
                        width: 70%;
                        @include flex(){};
                        li{ 
                            border:none;
                            @include flex(flex-start,center){};
                            &:nth-of-type(1){width: 45%;}
                            a{ font-size: 1rem;}
                            button{transform: rotate(-90deg); }
                        }
                    }
                    .nav-right{display: none; }
                }
                .head-subject{h2{font-size: 2rem; 
                    width: 85%; margin: 3% auto;
                }}
            }
            .sub-body{
                table{
                    width: 90%; margin: 2% auto;
                    th,td{
                        border-bottom: 1px solid #ddd;
                        padding: 30px 10px; 
                        text-align: center;
                    }
                    thead tr{
                        border-top: none; 
                        border-bottom: 2px solid #003568;
                        background-color: #fff;
                        height: 50px;
                        th{display: none;}
                    }

                    tbody tr{@include flex(){flex-direction: column;}}
                    tbody tr td:nth-of-type(1){
                        display: none;
                    }
                    tbody tr td:nth-of-type(2){
                        border-bottom: none; text-align: left;
                        padding: 1% 3%; font-size: 1rem;
                    }
                    tbody tr td:nth-of-type(3){
                        width: 100%; padding: 0 0 3% 3%;
                        text-align: left; font-size: .8rem;
                    }
                    tfoot td{padding: 50px 0; border: none;}
                    tfoot td a{margin: 0 10px;}
                }
                .manager{
                    @include flex(){flex-wrap: wrap};
                    margin: 10px 0;
                    padding: 24px;
                    border: 1px solid #ddd;
                    border-radius: 8px;
                    li{ font-size: 1rem; font-weight: 300;
                        strong{font-weight: 500;}
                    &:nth-of-type(2){flex-grow: 2; text-align: left; margin-left: 50px;}
                    }
                
                }
            }
            .sub-foot{
                .user-satisfy{
                    width: 95%; margin: 0 auto;
                    h3{ font-size: 1rem; color: #4A5677;}
                    .radio-five{ flex-wrap: wrap;
                        label{
                            width: 30%;
                            span{ font-size: 1rem; }
                        }
                    }
                    .answer-submit{
                        @include flex(){flex-direction: column};
                        textarea{width: 90%; }
                        button{width: 90%; height: 50px;}
                        }
                }   
            }//end sub-foot
        }//end sub-inner
    }//end main
}//end 모바일480

@media (min-width: 481px) and (max-width: 767px){
    header{
        .head-top{display: none;}
        hr{display: none;}
        .head-area{
            padding: 5% 5%;
            .dropdown{ display: none;}
        }
        .head-area .dropdown a:hover{ display: none; }
    }//end header
    main{
        .sub-inner{
            width: 90%;
            
            .sub-head{
                .head-title{
                    h1{ width: 85%; margin: 5% auto;
                        font-size: 2rem; transform: translateY(150%);}
                }
                .head-nav{
                    height: 20%; transform: translateY(-200%);
                    border-radius: 0px;
                    .nav-left{
                        width: 70%;
                        @include flex(){};
                        li{ 
                            border:none;
                            @include flex(flex-start,center){};
                            &:nth-of-type(1){width: 45%;}
                            a{ font-size: 1rem;}
                            button{transform: rotate(-90deg); }
                        }
                    }
                    .nav-right{display: none; }
                }
                .head-subject{h2{font-size: 2rem; 
                    width: 85%; margin: 3% auto;
                }}
            }
            
            .sub-foot{
                .user-satisfy{
                    width: 95%; margin: 0 auto;
                    h3{ font-size: 1rem; color: #4A5677;}
                    .radio-five{ flex-wrap: wrap;
                        label{
                            width: 30%;
                            span{ font-size: 1rem; }
                        }
                    }
                    .answer-submit{
                        @include flex(){flex-direction: column};
                        textarea{width: 90%; }
                        button{width: 90%; height: 50px;}
                        }
                }   
            }//end sub-foot
        }//end sub-inner
    }//end main
} 
/*==============================태블릿768=============================================*/
@media (min-width: 768px) and (max-width: 1279px){
    header{
        .head-top{display: none;}
        hr{display: none;}
        .head-area{
            padding: 5% 5%;
            .dropdown{ display: none;   }
        }
        .head-area .dropdown a:hover{ display: none; }
    }//end header
    main{
        .sub-inner{
            width: 90%;
            
            .sub-head{
                .head-title{
                    h1{ width: 85%; margin: 5% auto;
                        font-size: 2rem; transform: translateY(150%);}
                }
                .head-nav{
                    height: 20%; transform: translateY(-200%);
                    border-radius: 0px;
                    .nav-left{
                        width: 70%;
                        @include flex(){};
                        li{ 
                            border:none;
                            @include flex(flex-start,center){};
                            &:nth-of-type(1){width: 45%;}
                            a{ font-size: 1rem;}
                            button{transform: rotate(-90deg); }
                        }
                    }
                    .nav-right{display: none; }
                }
                .head-subject{h2{font-size: 2rem; 
                    width: 85%; margin: 3% auto;
                }}
            }
            

            .sub-foot{
                .user-satisfy{width: 95%; margin: 0 auto;}   
                .answer-submit{button{font-size: 0.8rem;}}
            }//end sub-foot
        }//end sub-inner
    }//end main
}//end 태블릿