@import "./reset";
    
header{
    width: 100%;
    z-index: 13;;
    .bot{margin: 0px; display: block;}
    &:hover{
        background-color: #fff; z-index: 1;
    }
    .head-top{
        
        width: 100%;
        padding: 0 5%;
        @include flex(){ width: 60% };
        a{ 
            font-size: 14px; 
            color: #222;
            text-decoration: none;
            padding: 10px 0;
            font-weight: 600;
            opacity: 0.9;
        }
        a img:nth-child(1){display: block;};
    }
    hr{width: 100%;}
    .head-area{
        height: 50%;
        padding: 0 5%;
        @include flex(center, center){};
        .logo{  flex-grow: 1;   }
        .dropdown{
            @include flex(space-evenly,flex-start){flex-grow: 8; };
            div{@include flex(){flex-direction: column};
            position: relative;
                .gnb{
                    font-size: 18px; 
                    color: #222;
                    text-decoration: none;
                    left: 50%;
                    padding: 28px 40px;
                    border-bottom: 2px solid transparent;
                }
                .skip{
                    display: none; 
                    position: absolute; top: 100%;
                    margin-top: 10px; font-weight: 300;
                    z-index: 12;
                    li { 
                        display: flex; justify-content: center;
                        a{padding: 5px 0; color: #222;}
                        .act{
                            font-weight: 500;
                            &:hover{color:#CA2C52;transition: .5s;}
                        }
                    }
                }
            }
        }
        .icon{ flex-grow: 1; text-align: right; z-index: 2; 
            a{padding: 10px;}
        }
    }
    .head-area .dropdown .gnb:hover{
        color:#CA2C52; transition: .5s;
        border-bottom: 2px solid #CA2C52;
    }
    .head-area .dropdown .gnb:hover::after{border-bottom: 2px solid #CA2C52;}
    
    .hoverBox{width: 100%; height: 0px; 
        position: absolute; top: 16%; left: 0;
        background-color: transparent; 
        z-index: 13 !important;
        transition: .5s;
    }
    &:hover .hoverBox{
        background-color: #fff; z-index: 1; height: 200px;
        display: block; }
    &:hover .head-area .dropdown div .skip{display: block; z-index: 20;}
}//end header
.hbShadow{width: 100%; height: 100vh; 
    background-color: rgb(0, 0, 0,0.6); position: absolute; top: 16%; left: 0;
    z-index: 10 !important;
    display: none;
}
.hbShadow.active{display: block;}

main{
    .sub-inner{
        width: 70%;
        margin: 5% auto;
        .sub-head{
            .head-title{
                h1{font-size: 48px; color: #222;}
            }
            .head-nav{
                width: 100%; height: 64px;
                @include flex(){};
                margin-top: 40px;
                background-color: #4A5677;
                overflow: hidden;
                border-radius: 10px;
                .nav-left{
                    @include flex(){};
                    width: 40%;
                    li{ 
                        width: 100%;
                        height: 64px;
                        border-right: 2px solid rgb(255, 255, 255, 0.2);
                        @include flex(space-around,){};
                        &:nth-of-type(1){width: 40%; @include flex(center, center){};}                        a{  
                            font-size: 18px; font-weight: 400;
                            text-decoration: none;color: #fff;
                        }
                        button{background-color: transparent;}

                    }
                }
                .nav-right{
                    @include flex(center,){};
                    width: 15%;
                    li{
                        a{@include flex(space-evenly,){};
                            width: 80px; height: 40px;
                        }
                        background-color: #CA2C52;
                        padding: 7%;
                        &:nth-child(1){
                            border-right: 2px solid rgb(255, 255, 255, 0.2);
                            border-top-left-radius: 50px;
                            border-bottom-left-radius: 50px;
                        }
                    }
                }
            }
            .head-subject{h2{font-size: 36px; color: #4A5677;margin: 40px 0;}}
        }
        .sub-body{
            .sub-title{
                h3{font-size: 32px; color: #222; margin: 24px 0; position: relative;}
                h3::after{
                    content: '';
                    display: inline-block;
                    position: absolute; left: 120px; top: 0;
                    background-color: #D22A49;
                    width: 10px; height: 10px;
                    border-radius: 50%;
                }
                div{font-size: 18px; color: #444; font-weight: 400;}
            }
            .graph-top{
                h4{font-size: 24px; color: #222; font-weight: 600; margin-top: 56px;}
                div{
                    width: 80%;
                    margin: 0 auto; padding: 30px 0;
                    background-color: #4A5677; color: white;
                    border-radius: 68px;
                    @include flex(){flex-direction: column};
                    h2{font-size: 32px;  font-weight: 600;}
                    h2::after{
                        content: "";
                        display: block;
                        width: 0px;
                        height: 0px;
                        border-top: 30px solid #DDDFE6;
                        border-left: 30px solid transparent;
                        border-right: 30px solid transparent;
                        position: absolute;
                        bottom: 91px;
                        left: calc(50% - 30px);}
                }
                
            }
            .graph-mid{
                h4{
                    font-size: 20px; color: #222; font-weight: 400;
                    text-align: center; margin-top: 50px;
                    &:after{
                        content: '';
                        display: block;
                        width: 52px;
                        height: 3px;
                        background-color: #4A5677;
                        margin: 8px auto 16px;
                    }
                }
                ul{
                    padding: 12px;
                    border-radius: 100px;
                    background-color: #f8f8f8;
                    @include flex(){};
                    width: 90%; margin: 0 auto;
                    li{ 
                        width: 200px; height: 200px;
                        background-color: #F2F4F7;
                        border: 1px dashed #4A5677;
                        border-radius: 50%;
                        color: #555;
                        @include flex(center,){flex-direction: column};
                        strong{font-size: 19px; font-weight: 700; margin-bottom: 5px;}
                        p{font-size: 18px; font-weight: 400;}
                    }
                }
            }
            .graph-bot{
                .bot-head{
                    @include flex(){flex-direction: column};
                    p img{margin: 20px 0;}
                    h4{font-size: 20px; margin-top: 20px; font-weight: 400;}
                }
                .bot-body{
                    padding: 40px 80px;
                    border: 1px dashed #4A5677;
                    border-radius: 40px;
                    margin: 20px auto 0;
                    background-color: #FEFBFB;
                    ul{
                        @include flex(){};
                        li{ width: 30%; padding: 20px; }
                    }
                    .ul1{
                        font-size: 18px;    
                        height: 85px;
                        border: 1px solid #4A5677;
                        border-radius: 120px;
                        background-color: #F8F8F8;
                        li{border-left: 1px solid #ddd;
                            &:nth-of-type(1){border:none;}
                        }
                        li:nth-of-type(1){ color: #B26F18;}
                        li:nth-of-type(2){ color: #DE5050;}
                        li:nth-of-type(3){ color: #187BB2;}
                    }
                    .ul2{
                        margin: 20px 0;
                        li{ 
                            display: flex; align-items: center; justify-content: center;
                            font-size: 18px; color: #fff;
                            border-radius: 120px; height: 80px;
                        }
                        li:nth-of-type(1){ background-color: #B26F18;}
                        li:nth-of-type(2){ background-color: #DE5050;}
                        li:nth-of-type(3){ background-color: #187BB2;}
                    }
                    .ul3{
                        @include flex(){};
                        li{
                            font-size: 16px; font-weight: 400; color: #555;
                            border: 1px solid #B26F18; border-radius: 24px;
                            padding: 20px; height: 360px;
                            p{
                                position: relative;
                                text-align: left;
                                margin: 15px 0;
                                padding-left: 5px;
                                padding-bottom: 5px;
                                border-bottom: 1px solid #D9D9D9;
                                &::before{
                                    content: "";
                                    display: inline-block;
                                    position: absolute; left: 0; top: 12px;
                                    width: 2px;
                                    height: 2px;
                                    background-color: #000;
                                }
                                &:nth-last-child(1){border-bottom: none;}
                            }
                        }
                        li:nth-of-type(1){ border-color: #B26F18;}
                        li:nth-of-type(2){ border-color: #DE5050;}
                        li:nth-of-type(3){ border-color: #187BB2;}
                    }
                }
            }
            .waytogo{
                margin-bottom: 100px;
                h4{font-size: 24px; font-weight: 600; color: #222; margin: 56px 0 20px 0;}
                ul{
                    li{
                        margin: 20px 0;
                        strong{font-size: 18px; font-weight: 600; color: #222; 
                        }
                        p{  
                            margin: 20px 0 20px 10px;
                            position: relative;
                            font-size: 18px; font-weight: 400; color: #444;
                        }
                        p::before{
                            content: "";
                                display: inline-block;
                                position: absolute; left: -10px; top: 12px;
                                width: 4px; height: 2px;
                                background-color: #D22A49;
                        }
                    }
                }

            }
        }
        .sub-foot{
            .user-satisfy{
                width: 100%;
                border-radius: 15px;
                padding: 24px;
                background-color: #F2F4F7;;
                h3{ @include flex(flex-start,){};
                color: #4A5677;
                }
                .radio-five{
                    width: 100%;
                    padding: 20px 0; 
                    display: flex;
                    input{display: none;}
                    label{
                        margin-right: 7px;
                        display: inline-block;
                        height: 25px;
                        fill: none;
                        // background-color: red;
                        background: url('../img/sub/sub_default/form_radio_default.svg') no-repeat 0 0px / contain;
                        margin: 0 10px;
                        span{
                            margin-left: 25px;
                            text-align: center;
                            font-size: 18px; font-weight: 400;
                        }
                    }
                    input:checked +label{
                        background: url('../img/sub/sub_default/form_radio_checked.svg') no-repeat 0 0px / contain;
                    }
                }
                .answer-submit{
                    @include flex(){};
                    textarea{width: 90%; height: 100px;}
                    button{
                        width: 110px; height: 100px;
                        padding: 13px 22px;
                        background-color: #4A5677;
                        color: #fff;
                        border: 1px;
                        font-size: 16px; font-weight: 600;
                        &:hover{background-color: #232939;}
                    }
                }
            }   
        }//end sub-foot
    }//end sub-inner
}//end main

/*==============================모바일480=============================================*/
@media (min-width: 320px) and (max-width: 480px) {
    header{display: none;}
    .mobile_header{
        position: absolute; left: 0; top: 0;
        width: 100%;
        z-index: 2;
        .mHead{
            padding: 0 0 0 5%;
            @include flex(space-between,flex-end){};
            .mLogo{display: block; transform: translate(-10%, 15%);}
            .mIcon {
                display: flex; justify-content: flex-end;
                width: 20%;
                a{ padding: 0 5%;}
            }
        }
    }
    main{
        .sub-inner{
            width: 100%;
            
            .sub-head{
                .head-title{
                    h1{ width: 85%; margin: 5% auto;
                        font-size: 2rem; transform: translateY(150%);}
                }
                .head-nav{
                    height: 20%; transform: translateY(-150%);
                    border-radius: 0px;
                    .nav-left{
                        width: 70%;
                        @include flex(){};
                        li{ 
                            border:none;
                            @include flex(flex-start,center){};
                            &:nth-of-type(1){width: 45%;}
                            a{ font-size: 1rem;}
                            button{transform: rotate(-90deg); }
                        }
                    }
                    .nav-right{display: none; }
                }
                .head-subject{h2{font-size: 2rem; 
                    width: 85%; margin: 3% auto;
                }}
            }
            .sub-body{
                width: 85%; margin: 3% auto;
                .sub-title{
                    padding-top: 5%;
                    h3{font-size: 1.8rem;}
                    h3::after{ display: none;}
                    div{font-size: 1.03rem;}
                }
                .graph-top{
                    h4{font-size: 1.4rem;  font-weight: 500; }
                    div{
                        width: 100%;
                        margin: 10px auto; padding: 25px 0;
                        h2{font-size: 1rem;  font-weight: 500;}
                        h2::after{display: none;}
                    }
                }
                .graph-mid{
                    h4{font-size: 1.12rem;  font-weight: 500;}
                    ul{
                        @include flex(){flex-direction: column;}
                        li{ 
                            width: 95%; 
                            border-radius: 100px;
                            margin: 5px 0;
                            strong{font-size: 1.1rem; }
                            p{font-size: 1rem; }
                        }
                    }
                }
                .graph-bot{
                    .bot-head{
                        @include flex(){flex-direction: column};
                        p img{margin: 20px 0;}
                        h4{font-size: 1.2rem; margin-top: 10px; font-weight: 400;}
                    }
                    .bot-body{
                        padding: 5%;
                        margin: 20px auto 0;
                        background-color: #FEFBFB;
                        ul{
                            @include flex(){flex-direction: row;};
                            li{
                                font-size: 1rem;
                                margin: 5px 0;
                                height: 200%;
                                p{ margin: 15px 0; }
                            }
                        }
                        .ul1{
                            li{width:100%; height: 0;font-size: 0.8rem; 
                                @include flex(center,center){};
                            }
                        }
                        .ul2, .ul3{@include flex(){flex-direction: column;}
                            li{width: 100%; font-size: 1rem;}
                        }                        
                    }
                }
                .waytogo{
                    h4{font-size: 1.3rem;}
                    ul{
                        li{
                            strong{font-size: 1rem; }
                            p{ font-size: 1rem; font-weight: 300; }
                        }
                    }
                }
            }
            .sub-foot{
                .user-satisfy{
                    width: 95%; margin: 0 auto;
                    h3{ font-size: 1rem; color: #4A5677;}
                    .radio-five{ flex-wrap: wrap;
                        label{
                            width: 30%;
                            span{ font-size: 1rem; }
                        }
                    }
                    .answer-submit{
                        @include flex(){flex-direction: column};
                        textarea{width: 90%; }
                        button{width: 90%; height: 50px;}
                        }
                }   
            }//end sub-foot
        }//end sub-inner
    }//end main
}//end 모바일480
@media (min-width: 481px) and (max-width: 767px){
    header{display: none;}
    .mobile_header{
        position: absolute; left: 0; top: 0;
        width: 100%;
        z-index: 2;
        .mHead{
            padding: 0 0 0 5%;
            @include flex(space-between,flex-end){};
            .mLogo{display: block; transform: translate(-10%, 15%);}
            .mIcon {
                display: flex; justify-content: flex-end;
                width: 20%;
                a{ padding: 0 5%;}
            }
        }
    }
    main{
        .sub-inner{
            width: 100%;
            
            .sub-head{
                .head-title{
                    h1{ width: 85%; margin: 5% auto;
                        font-size: 2rem; transform: translateY(150%);}
                }
                .head-nav{
                    height: 20%; transform: translateY(-150%);
                    border-radius: 0px;
                    .nav-left{
                        width: 70%;
                        @include flex(){};
                        li{ 
                            border:none;
                            @include flex(flex-start,center){};
                            &:nth-of-type(1){width: 45%;}
                            a{ font-size: 1rem;}
                            button{transform: rotate(-90deg); }
                        }
                    }
                    .nav-right{display: none; }
                }
                .head-subject{h2{font-size: 2rem; 
                    width: 85%; margin: 3% auto;
                }}
            }
            .sub-body{
                width: 85%; margin: 3% auto;
                .sub-title{
                    padding-top: 5%;
                    h3{font-size: 1.8rem;}
                    h3::after{ display: none;}
                    div{font-size: 1.03rem;}
                }
                .graph-top{
                    h4{font-size: 1.4rem;  font-weight: 500; }
                    div{
                        width: 100%;
                        margin: 10px auto; padding: 25px 0;
                        h2{font-size: 1rem;  font-weight: 500;}
                        h2::after{display: none;}
                    }
                }
                .graph-mid{
                    h4{font-size: 1.12rem;  font-weight: 500;}
                    ul{
                        @include flex(){flex-direction: column;}
                        li{ 
                            width: 95%; 
                            border-radius: 100px;
                            margin: 5px 0;
                            strong{font-size: 1.1rem; }
                            p{font-size: 1rem; }
                        }
                    }
                }
                .graph-bot{
                    .bot-head{
                        @include flex(){flex-direction: column};
                        p img{margin: 20px 0;}
                        h4{font-size: 1.2rem; margin-top: 10px; font-weight: 400;}
                    }
                    .bot-body{
                        padding: 5%;
                        margin: 20px auto 0;
                        background-color: #FEFBFB;
                        ul{
                            @include flex(){flex-direction: row;};
                            li{
                                font-size: 1rem;
                                margin: 5px 0;
                                height: 200%;
                                p{ margin: 15px 0; }
                            }
                        }
                        .ul1{
                            li{width:100%; height: 0;font-size: 0.9rem; 
                                @include flex(center,center){};
                            }
                        }
                        .ul2, .ul3{@include flex(){flex-direction: column;}
                            li{width: 100%; font-size: 1rem;}
                        }                        
                    }
                }
                .waytogo{
                    h4{font-size: 1.3rem;}
                    ul{
                        li{
                            strong{font-size: 1rem; }
                            p{ font-size: 1rem; font-weight: 300; }
                        }
                    }
                }
            }
            .sub-foot{
                .user-satisfy{
                    width: 95%; margin: 0 auto;
                    h3{ font-size: 1rem; color: #4A5677;}
                    .radio-five{ flex-wrap: wrap;
                        label{
                            width: 30%;
                            span{ font-size: 1rem; }
                        }
                    }
                    .answer-submit{
                        @include flex(){flex-direction: column};
                        textarea{width: 90%; }
                        button{width: 90%; height: 50px;}
                        }
                }   
            }//end sub-foot
        }//end sub-inner
    }//end main
} 
/*==============================태블릿768=============================================*/
@media (min-width: 768px) and (max-width: 1279px){
    header{display: none;}
    .mobile_header{
        position: absolute; left: 0; top: 0;
        width: 100%;
        z-index: 2;
        .mHead{
            padding: 0 0 0 5%;
            @include flex(space-between,flex-end){};
            .mLogo{display: block; transform: translate(-10%, 15%);}
            .mIcon {
                display: flex; justify-content: flex-end;
                width: 20%;
                a{ padding: 0 5%;}
            }
        }
    }
    main{
        .sub-inner{
            width: 100%;
            
            .sub-head{
                .head-title{
                    h1{ width: 85%; margin: 5% auto;
                        font-size: 2rem; transform: translateY(150%);}
                }
                .head-nav{
                    height: 20%; transform: translateY(-150%);
                    border-radius: 0px;
                    .nav-left{
                        width: 70%;
                        @include flex(){};
                        li{ 
                            border:none;
                            @include flex(flex-start,center){};
                            &:nth-of-type(1){width: 45%;}
                            a{ font-size: 1rem;}
                            button{transform: rotate(-90deg); }
                        }
                    }
                    .nav-right{display: none; }
                }
                .head-subject{h2{font-size: 2rem; 
                    width: 85%; margin: 3% auto;
                }}
            }
            .sub-body{
                width: 85%; margin: 3% auto;
                .sub-title{
                    padding-top: 5%;
                    h3{font-size: 1.8rem;}
                    h3::after{ display: none;}
                    div{font-size: 1.03rem;}
                }
                .graph-top{
                    h4{font-size: 1.4rem;  font-weight: 500; }
                    div{
                        width: 100%;
                        margin: 10px auto; padding: 25px 0;
                        h2{font-size: 1rem;  font-weight: 500;}
                        h2::after{display: none;}
                    }
                }
                .graph-mid{
                    h4{font-size: 1.12rem;  font-weight: 500;}
                    ul{
                        @include flex(){flex-direction: column;}
                        li{ 
                            width: 95%; 
                            border-radius: 100px;
                            margin: 5px 0;
                            strong{font-size: 1.1rem; }
                            p{font-size: 1rem; }
                        }
                    }
                }
                .graph-bot{
                    .bot-head{
                        @include flex(){flex-direction: column};
                        p img{margin: 20px 0;}
                        h4{font-size: 1.2rem; margin-top: 10px; font-weight: 400;}
                    }
                    .bot-body{
                        padding: 5%;
                        margin: 20px auto 0;
                        background-color: #FEFBFB;
                        ul{
                            @include flex(){flex-direction: row;};
                            li{
                                font-size: 1rem;
                                margin: 5px 0;
                                height: 200%;
                                p{ margin: 15px 0; }
                            }
                        }
                        .ul1{
                            li{width:100%; height: 0;font-size: 0.9rem; 
                                @include flex(center,center){};
                            }
                        }
                        .ul2, .ul3{@include flex(){flex-direction: column;}
                            li{width: 100%; font-size: 1rem;}
                        }                        
                    }
                }
                .waytogo{
                    h4{font-size: 1.3rem;}
                    ul{
                        li{
                            strong{font-size: 1rem; }
                            p{ font-size: 1rem; font-weight: 300; }
                        }
                    }
                }
            }
            .sub-foot{
                .user-satisfy{
                    width: 95%; margin: 0 auto;
                    h3{ font-size: 1rem; color: #4A5677;}
                    .radio-five{ flex-wrap: wrap;
                        label{
                            width: 30%;
                            span{ font-size: 1rem; }
                        }
                    }
                    .answer-submit{
                        @include flex(){flex-direction: column};
                        textarea{width: 90%; }
                        button{width: 90%; height: 50px;}
                        }
                }   
            }//end sub-foot
        }//end sub-inner
    }//end main
}//end 태블릿
/*==============================PC이상============================================*/
@media (min-width: 1280px){.mobile_header{display: none;}}